.idea/
target/
*~
*.iml
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
koodisto-api/.classpath
koodisto-api/.project
koodisto-api/.settings/org.eclipse.core.resources.prefs
koodisto-api/.settings/org.eclipse.jdt.core.prefs
koodisto-api/.settings/org.eclipse.m2e.core.prefs
koodisto-api/.settings/org.eclipse.wst.common.component
koodisto-api/.settings/org.eclipse.wst.common.project.facet.core.xml
koodisto-app/.classpath
koodisto-app/.project
koodisto-app/.settings/.jsdtscope
koodisto-app/.settings/org.eclipse.core.resources.prefs
koodisto-app/.settings/org.eclipse.jdt.core.prefs
koodisto-app/.settings/org.eclipse.m2e.core.prefs
koodisto-app/.settings/org.eclipse.wst.common.component
koodisto-app/.settings/org.eclipse.wst.common.project.facet.core.xml
koodisto-app/.settings/org.eclipse.wst.jsdt.ui.superType.container
koodisto-app/.settings/org.eclipse.wst.jsdt.ui.superType.name
koodisto-common/.classpath
koodisto-common/.project
koodisto-common/.settings/org.eclipse.core.resources.prefs
koodisto-common/.settings/org.eclipse.jdt.core.prefs
koodisto-common/.settings/org.eclipse.m2e.core.prefs
koodisto-common/.settings/org.eclipse.wst.common.component
koodisto-common/.settings/org.eclipse.wst.common.project.facet.core.xml
koodisto-esb/.classpath
koodisto-esb/.project
koodisto-esb/.settings/org.eclipse.core.resources.prefs
koodisto-esb/.settings/org.eclipse.jdt.core.prefs
koodisto-esb/.settings/org.eclipse.m2e.core.prefs
koodisto-service/.classpath
koodisto-service/.project
koodisto-service/.settings/.jsdtscope
koodisto-service/.settings/org.eclipse.core.resources.prefs
koodisto-service/.settings/org.eclipse.jdt.core.prefs
koodisto-service/.settings/org.eclipse.m2e.core.prefs
koodisto-service/.settings/org.eclipse.wst.common.component
koodisto-service/.settings/org.eclipse.wst.common.project.facet.core.xml
koodisto-service/.settings/org.eclipse.wst.jsdt.ui.superType.container
koodisto-service/.settings/org.eclipse.wst.jsdt.ui.superType.name
koodisto-service/nb-configuration.xml
koodisto-api/.settings/org.eclipse.wst.validation.prefs
*.prefs
koodisto-service/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
koodisto-service/logs
koodisto-ui/.classpath
koodisto-ui/.settings/.jsdtscope
koodisto-ui/.settings/org.eclipse.wst.common.component
koodisto-ui/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
koodisto-ui/.settings/org.eclipse.wst.common.project.facet.core.xml
koodisto-ui/.settings/org.eclipse.wst.jsdt.ui.superType.container
koodisto-ui/.settings/org.eclipse.wst.jsdt.ui.superType.name
koodisto-ui/overlays/*
koodisto-app/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
phantomjsdriver.log
