services:
  database:
    container_name: oph-koodisto-db
    image: postgres:15.15@sha256:697ff70295146d53b702b07532fe68aaed7a5f10d04ff68edbeffd5fbacd15a5
    environment:
      - POSTGRES_USER=app
      - POSTGRES_DB=koodisto
      - POSTGRES_PASSWORD=koodisto
    ports:
      - 5434:5432
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --username app --dbname koodisto"]
      interval: 1s
  database-test:
    container_name: oph-koodisto-test-db
    image: postgres:15.15@sha256:697ff70295146d53b702b07532fe68aaed7a5f10d04ff68edbeffd5fbacd15a5
    environment:
      - POSTGRES_USER=app
      - POSTGRES_DB=koodisto
      - POSTGRES_PASSWORD=koodisto
    ports:
      - 5435:5432
    command: ["postgres", "-c", "log_statement=all"]
volumes:
  database-data:
