<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
            <ThresholdFilter level="debug"/>
        </Console>
        <RollingFile name="AUDIT" fileName="./logs/auditlog_koodisto.log" filePattern="./logs/auditlog_koodisto.log.%i"
                     append="true" immediateFlush="true">
            <PatternLayout pattern="%m%n" charset="UTF-8"/>
            <SizeBasedTriggeringPolicy size="20MB" />
            <DefaultRolloverStrategy max="20"/>
            <ThresholdFilter level="info"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="log4j.logger.org.springframework" level="warn"/>
        <Logger name="log4j.logger.fi.vm" level="error"/>
        <Logger name="log4j.logger.org.hibernate.cache" level="error"/>
        <Logger name="log4j.logger.org.hibernate" level="error"/>
        <Logger name="log4j.logger.org.hibernate.type" level="error"/>
        <Logger name="log4j.logger.org.hibernate.engine.jdbc.batch.internal.BatchingBatch" level="debug"/>
        <Logger name="log4j.logger.fi.vm.sade.koodisto.audit.AuditLogger" level="info" additivity="false">
            <AppenderRef ref="AUDIT"/>
        </Logger>
    </Loggers>
</Configuration>
