<script type="text/ng-template" id="confirmcancel.html">
    <div class="modal-header">
        <h3>{{'codes.createpage.confirmcancel.header' | i18n}}</h3>
    </div>
    <div class="modal-body">{{'codes.createpage.confirmcancel.text' | i18n}}</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="codesCreatorModal.cancel()">{{'codes.ok' | i18n}}</button>
        <button class="btn btn-warning" ng-click="codesCreatorModal.closeCancelConfirmModal()">{{'codes.cancel' | i18n}}</button>
    </div>
</script>

<div ng-include="'organisaatioSelector.html'" ></div>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <h1>{{'codes.createpage.header' | i18n}}</h1>
        </div>
    </div>
    <form name="form" class="form-horizontal" ng-submit="codesCreator.submit()">

        <div class="control-group">
            <label for="codesgroup" class="control-label">{{'codes.createpage.codesgroup' | i18n}}</label>
            <div class="controls">
                <select id="codesgroup" ng-model="codesCreator.selectedCGoup" name="selectedCGoup"
                    ng-options="code.koodistoRyhmaUri as code.shownName for code in codesCreator.model.allCodes | orderBy:'shownName'" ng-required="true">
                </select>
            </div>
        </div>

        <div class="control-group">

            <div class="controls">
                <label for="same_name" class="checkbox"> <input id="same_name" type="checkbox" ng-model="codesCreator.samename" ng-click="codesCreator.setSameValue('name')" />
                    {{'codes.sameinalllanguages' | i18n}}
                </label>
            </div>
        </div>

        <div class="control-group">

            <label for="name_fi" class="control-label">{{'codes.createpage.name' | i18n}}</label>
            <div class="controls">
                <input id="name_fi" type="text" maxlength="256" class="width-30" ng-model="codesCreator.namefi" name="namefi" placeholder="{{'codes.finnish' | i18n}}"
                    ng-required="!namesv && !nameen || descriptionfi" ng-blur="codesCreator.visitedName = true" />
                <span class="text-error" ng-if="visitedName && form.namefi.$error.required"><img style="margin-right: 10px;" src="#{resource['img/alert-icon28x29.png']">
                    <span ng-if="!codesCreator.namesv && !codesCreator.nameen">{{codesCreator.errorMessageAtLeastOneName}}</span>
                    <span ng-if="!(!codesCreator.namesv && !codesCreator.nameen)">{{codesCreator.errorMessageIfOtherInfoIsGiven}}</span>
                </span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input id="name_sv" type="text" maxlength="256" class="width-30" ng-model="codesCreator.namesv" placeholder="{{'codes.swedish' | i18n}}" name="namesv"
                    ng-required="!namefi && !nameen || descriptionsv" ng-blur="codesCreator.visitedName = true" />
                <span class="text-error" ng-if="visitedName && form.namesv.$error.required"><img style="margin-right: 10px;" src="#{resource['img/alert-icon28x29.png']">
                    <span ng-if="!codesCreator.namefi && !codesCreator.nameen">{{codesCreator.errorMessageAtLeastOneName}}</span>
                    <span ng-if="!(!codesCreator.namefi && !codesCreator.nameen)">{{codesCreator.errorMessageIfOtherInfoIsGiven}}</span>
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input id="name_en" type="text" maxlength="256" class="width-30" ng-model="codesCreator.nameen" placeholder="{{'codes.english' | i18n}}" name="nameen"
                    ng-required="!namefi && !namesv || descriptionen" ng-blur="codesCreator.visitedName = true" />
                <span class="text-error" ng-if="visitedName && form.nameen.$error.required"><img style="margin-right: 10px;" src="#{resource['img/alert-icon28x29.png']">
                    <span ng-if="!codesCreator.namefi && !codesCreator.namesv">{{codesCreator.errorMessageAtLeastOneName}}</span>
                    <span ng-if="!(!codesCreator.namefi && !codesCreator.namesv)">{{codesCreator.errorMessageIfOtherInfoIsGiven}}</span>
                </span>
            </div>
        </div>

        <div class="control-group">
            <label for="datesactivestart" class="control-label">{{'codes.createpage.datesactive' | i18n}}</label>

            <div class="controls">

                <input id="datesactivestart" type="text" class="input-small" datepicker-popup="dd.MM.yyyy" name="dActiveStart" ng-model="codesCreator.dActiveStart" min="minDate"
                    datepicker-options="dateOptions" date-disabled="codesCreator.disabled(date, mode)" ng-blur="codesCreator.visitedDate = true" required />
                -
                <input id="datesactiveend" type="text" class="input-small" datepicker-popup="dd.MM.yyyy" ng-model="codesCreator.dActiveEnd" min="minDate"
                    datepicker-options="dateOptions" date-disabled="codesCreator.disabled(date, mode)" />
                <i class="icon-calendar"></i>
                <span class="text-error" ng-if="codesCreator.visitedDate && form.dActiveStart.$error.required"><img style="margin-right: 10px;" src="#{resource['img/alert-icon28x29.png']">{{codesCreator.errorMessage}}</span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label for="same_description" class="checkbox"> <input id="same_description" type="checkbox" ng-model="codesCreator.samedescription"
                        ng-click="codesCreator.setSameValue('description')" /> {{'codes.sameinalllanguages' | i18n}}
                </label>
            </div>
        </div>
        <div class="control-group">
            <label for="description_fi" class="control-label">{{'codes.createpage.description' | i18n}}</label>
            <div class="controls">
                <textarea id="description_fi" maxlength="2048" class="width-30" name="descriptionfi" ng-model="codesCreator.descriptionfi"
                    placeholder="{{'codes.finnish' | i18n}}"></textarea>
                <span class="text-error" ng-if="form.descriptionfi.$error.required"><img style="margin-right: 10px;" src="#{resource['img/alert-icon28x29.png']">{{codesCreator.errorMessage}}</span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <textarea id="description_sv" maxlength="2048" class="width-30" ng-model="codesCreator.descriptionsv" name="descriptionsv"
                    placeholder="{{'codes.swedish' | i18n}}"></textarea>
                <span class="text-error" ng-if="form.descriptionsv.$error.required"><img style="margin-right: 10px;" src="#{resource['img/alert-icon28x29.png']">{{codesCreator.errorMessage}}</span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <textarea id="description_en" maxlength="2048" class="width-30" ng-model="codesCreator.descriptionen" name="descriptionen"
                    placeholder="{{'codes.english' | i18n}}"></textarea>
                <span class="text-error" ng-if="form.descriptionen.$error.required"><img style="margin-right: 10px;" src="#{resource['img/alert-icon28x29.png']">{{codesCreator.errorMessage}}</span>
            </div>
        </div>


        <div class="control-group">

            <label for="owner" class="control-label">{{'codes.createpage.owner' | i18n}}</label>
            <div class="controls">
                <input id="owner" type="text" maxlength="256" class="width-30" ng-model="codesCreator.ownerName" />
            </div>
        </div>

        <div class="control-group">
            <label for="organizationbutton" class="control-label">{{'codes.createpage.organization' | i18n}}</label>
            <div class="controls">


                <input id="organizationinput" type="text" class="width-30" name="organizationName" ng-model="codesCreator.organizationName" ng-required="true" disabled />

                <input id="organizationbutton" type="button" value="{{'codes.select' | i18n}}" class="btn btn-small btn-primary" ng-click="codesCreator.open(); codesCreator.visitedOrg = true"
                    ng-model="codesCreator.selected" />
                <span class="text-error" ng-if="codesCreator.visitedOrg && form.organizationName.$error.required"><img style="margin-right: 10px;"
                    src="#{resource['img/alert-icon28x29.png']">{{codesCreator.errorMessage}}</span>
            </div>
        </div>


        <div class="control-group">
            <div class="span12">
                <accordion close-others="false"> <accordion-group is-open="isopen" class=""> <accordion-heading> <i
                    class="pull-left" ng-class="{'icon-chevron-down': isopen, 'icon-chevron-right': !isopen}"></i> {{'codes.createpage.showextra' | i18n}} </accordion-heading>
                <div class="control-group">
                    <div class="controls">
                        <label for="same_instructions" class="checkbox"> <input id="same_instructions" type="checkbox" ng-model="codesCreator.sameinstructions"
                                ng-click="codesCreator.setSameValue('instructions')" /> {{'codes.sameinalllanguages' | i18n}}
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label for="instructions_fi" class="control-label">{{'codes.createpage.instructions' | i18n}}</label>
                    <div class="controls">
                        <textarea id="instructions_fi" maxlength="2048" class="width-30" ng-model="codesCreator.instructionsfi" placeholder="{{'codes.finnish' | i18n}}"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <textarea id="instructions_sv" maxlength="2048" class="width-30" ng-model="codesCreator.instructionssv" placeholder="{{'codes.swedish' | i18n}}"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <textarea id="instructions_en" maxlength="2048" class="width-30" ng-model="codesCreator.instructionsen" placeholder="{{'codes.english' | i18n}}"></textarea>
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <label for="same_targetarea" class="checkbox"><input id="same_targetarea" type="checkbox" ng-model="codesCreator.sametargetarea"
                                ng-click="codesCreator.setSameValue('targetarea')" /> {{'codes.sameinalllanguages' | i18n}}</label>
                    </div>
                </div>
                <div class="control-group">
                    <label for="targetarea_fi" class="control-label">{{'codes.createpage.targetarea' | i18n}}</label>
                    <div class="controls">
                        <input id="targetarea_fi" type="text" maxlength="256" class="width-30" ng-model="codesCreator.targetareafi" placeholder="{{'codes.finnish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="targetarea_sv" type="text" maxlength="256" class="width-30" ng-model="codesCreator.targetareasv" placeholder="{{'codes.swedish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="targetarea_en" type="text" maxlength="256" class="width-30" ng-model="codesCreator.targetareaen" placeholder="{{'codes.english' | i18n}}" />
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <label for="same_targetareapart" class="checkbox"> <input id="same_targetareapart" type="checkbox" ng-model="sametargetareapart"
                                ng-click="codesCreator.setSameValue('targetareapart')" /> {{'codes.sameinalllanguages' | i18n}}
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label for="targetareapart_fi" class="control-label">{{'codes.createpage.targetareapart' | i18n}}</label>
                    <div class="controls">
                        <input id="targetareapart_fi" type="text" maxlength="256" ng-model="codesCreator.targetareapartfi" placeholder="{{'codes.finnish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="targetareapart_sv" type="text" maxlength="256" class="width-30" ng-model="codesCreator.targetareapartsv" placeholder="{{'codes.swedish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="targetareapart_en" type="text" maxlength="256" class="width-30" ng-model="codesCreator.targetareaparten" placeholder="{{'codes.english' | i18n}}" />
                    </div>
                </div>


                <div class="control-group">
                    <div class="controls">
                        <label for="same_concept" class="checkbox"> <input id="same_concept" type="checkbox" ng-model="codesCreator.sameconcept" ng-click="codesCreator.setSameValue('concept')" />
                            {{'codes.sameinalllanguages' | i18n}}
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label for="concept_fi" class="control-label">{{'codes.createpage.concept' | i18n}}</label>
                    <div class="controls">
                        <input id="concept_fi" type="text" maxlength="256" class="width-30" ng-model="codesCreator.conceptfi" placeholder="{{'codes.finnish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="concept_sv" type="text" maxlength="256" class="width-30" ng-model="codesCreator.conceptsv" placeholder="{{'codes.swedish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="concept_en" type="text" maxlength="256" class="width-30" ng-model="codesCreator.concepten" placeholder="{{'codes.english' | i18n}}" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label for="same_operationalenvironment" class="checkbox"><input id="same_operationalenvironment" type="checkbox"
                                ng-model="codesCreator.sameoperationalenvironment" ng-click="codesCreator.setSameValue('operationalenvironment')" /> {{'codes.sameinalllanguages' | i18n}}</label>
                    </div>
                </div>
                <div class="control-group">
                    <label for="operationalenvironment_fi" class="control-label">{{'codes.createpage.operationalenvironment' | i18n}}</label>
                    <div class="controls">

                        <input id="operationalenvironment_fi" type="text" maxlength="256" class="width-30" ng-model="codesCreator.operationalenvironmentfi"
                            placeholder="{{'codes.finnish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="operationalenvironment_sv" type="text" maxlength="256" class="width-30" ng-model="codesCreator.operationalenvironmentsv"
                            placeholder="{{'codes.swedish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="operationalenvironment_en" type="text" maxlength="256" class="width-30" ng-model="codesCreator.operationalenvironmenten"
                            placeholder="{{'codes.english' | i18n}}" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label for="same_codessource" class="checkbox"><input id="same_codessource" type="checkbox" ng-model="codesCreator.samecodessource"
                                ng-click="codesCreator.setSameValue('codessource')" /> {{'codes.sameinalllanguages' | i18n}}</label>
                    </div>
                </div>
                <div class="control-group">
                    <label for="codessource_fi" class="control-label">{{'codes.createpage.codessource' | i18n}}</label>
                    <div class="controls">
                        <input id="codessource_fi" type="text" maxlength="256" class="width-30" ng-model="codesCreator.codessourcefi" placeholder="{{'codes.finnish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="codessource_sv" type="text" maxlength="256" class="width-30" ng-model="codesCreator.codessourcesv" placeholder="{{'codes.swedish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="codessource_en" type="text" maxlength="256" class="width-30" ng-model="codesCreator.codessourceen" placeholder="{{'codes.english' | i18n}}" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label for="same_specifiescodes" class="checkbox"> <input id="same_specifiescodes" type="checkbox" ng-model="codesCreator.samespecifiescodes"
                                ng-click="codesCreator.setSameValue('specifiescodes')" /> {{'codes.sameinalllanguages' | i18n}}
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label for="specifiescodes_fi" class="control-label">{{'codes.createpage.specifiescodes' | i18n}}</label>
                    <div class="controls">
                        <input id="specifiescodes_fi" type="text" maxlength="256" class="width-30" ng-model="codesCreator.specifiescodesfi" placeholder="{{'codes.finnish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="specifiescodes_sv" type="text" maxlength="256" class="width-30" ng-model="codesCreator.specifiescodessv" placeholder="{{'codes.swedish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="specifiescodes_en" type="text" maxlength="256" class="width-30" ng-model="codesCreator.specifiescodesen" placeholder="{{'codes.english' | i18n}}" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label for="same_totakenoticeof" class="checkbox"> <input id="same_totakenoticeof" type="checkbox" ng-model="codesCreator.sametotakenoticeof"
                                ng-click="codesCreator.setSameValue('totakenoticeof')" /> {{'codes.sameinalllanguages' | i18n}}
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label for="totakenoticeof_fi" class="control-label">{{'codes.createpage.totakenoticeof' | i18n}}</label>
                    <div class="controls">
                        <input id="totakenoticeof_fi" type="text" maxlength="256" class="width-30" ng-model="codesCreator.totakenoticeoffi" placeholder="{{'codes.finnish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="totakenoticeof_sv" type="text" maxlength="256" class="width-30" ng-model="codesCreator.totakenoticeofsv" placeholder="{{'codes.swedish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="totakenoticeof_en" type="text" maxlength="256" class="width-30" ng-model="codesCreator.totakenoticeofen" placeholder="{{'codes.english' | i18n}}" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <label for="same_validitylevel" class="checkbox"> <input id="same_validitylevel" type="checkbox" ng-model="codesCreator.samevaliditylevel"
                                ng-click="codesCreator.setSameValue('validitylevel')" /> {{'codes.sameinalllanguages' | i18n}}
                        </label>
                    </div>
                </div>
                <div class="control-group">

                    <label for="validitylevel_fi" class="form-row-label">{{'codes.createpage.validitylevel' | i18n}}</label>
                    <div class="controls">
                        <input id="validitylevel_fi" type="text" maxlength="256" class="width-30" ng-model="codesCreator.validitylevelfi" placeholder="{{'codes.finnish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="validitylevel_sv" type="text" maxlength="256" class="width-30" ng-model="codesCreator.validitylevelsv" placeholder="{{'codes.swedish' | i18n}}" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input id="validitylevel_en" type="text" maxlength="256" class="width-30" ng-model="codesCreator.validitylevelen" placeholder="{{'codes.english' | i18n}}" />
                    </div>
                </div>

                </accordion-group> </accordion>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span9">
                <alert ng-repeat="alert in codesCreator.model.alerts" type="alert.type" close="codesCreator.closeAlert($index)"> <img style="margin-right: 10px;"
                    src="#{resource['img/alert-icon28x29.png']">{{alert.msg}}</alert>
            </div>
        </div>

        <div class="row-fluid navbar-fixed-bottom">
            <button ng-disabled="!form.$valid" auth="crud" auth-service="APP_KOODISTO" auth-org="{{codesCreator.organizationOid}}" class="btn btn-primary pull-right" type="submit">{{'codes.save'
                | i18n}}</button>
            <button type="button" class="btn pull-right" ng-click="codesCreator.showCancelConfirmModal(form.$dirty)">{{'codes.cancel' | i18n}}</button>
        </div>

 </form>
</div>
