<script type="text/ng-template" id="downloadModalContent.html">
    <div class="modal-header">
        <h3>{{'codes.downloadmodal.header' | i18n}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
        <label for="fileFormat">{{'codes.downloadmodal.format' | i18n}}</label>
        <select id="fileFormat" class="form-control" ng-model="viewCodesDownloadModal.model.format">
            <option value="JHS_XML">JHS_XML</option>
            <option value="CSV">CSV</option>
            <option value="XLS">XLS</option>
        </select>
        </div>
        <div class="form-group">
        <label for="fileEncoding">{{'codes.downloadmodal.encoding' | i18n}}</label>
        <select id="fileEncoding" class="form-control" ng-model="viewCodesDownloadModal.model.encoding" ng-disabled="viewCodesDownloadModal.formatEquals('XLS')">
            <option value="UTF-8">UTF8</option>
            <option value="ISO-88519-1">ISO_88519_1</option>
            <option value="ISO-88519-15">ISO_88519_15</option>
        </select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="viewCodesDownloadModal.canceldownload()">{{'codes.cancel' | i18n}}</button>
        <button class="btn btn-primary" ng-click="viewCodesDownloadModal.okdownload()">{{'codes.select' | i18n}}</button>
    </div>
</script>

<script type="text/ng-template" id="uploadModalContent.html">
    <div class="modal-header">
        <h3>{{'codes.uploadmodal.header' | i18n}}</h3>
    </div>
    <form action="{{:: viewCodesUploadModal.uploadUrl}}"
          method="post"
          ng-upload="viewCodesUploadModal.uploadComplete(content)"
          name="uploadForm">
        <div class="modal-body">
            <div class="form-group">
                <label for="fileFormat2">{{'codes.downloadmodal.format' | i18n}}</label>
                <select id="fileFormat2" class="form-control input-sm" ng-model="viewCodesUploadModal.model.format" name="fileFormat">
                    <option value="JHS_XML">JHS_XML</option>
                    <option value="CSV">CSV</option>
                    <option value="XLS">XLS</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fileEncoding2">{{'codes.downloadmodal.encoding' | i18n}}</label>
                <select id="fileEncoding2" class="form-control input-sm" ng-model="viewCodesUploadModal.model.encoding" ng-disabled="viewCodesUploadModal.formatEquals('XLS')" name="fileEncoding">
                    <option value="UTF-8">UTF8</option>
                    <option value="ISO-88519-1">ISO_88519_1</option>
                    <option value="ISO-88519-15">ISO_88519_15</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fileToUpload">{{'codes.uploadmodal.selectfile' | i18n}}</label><br />
                <input id="fileToUpload" class="form-control input-sm" type="file" name="uploadedFile" ng-click="viewCodesUploadModal.fileSelected=true"/>
            </div>
        </div>
        <div class="modal-footer">
            <span ng-if="$isUploading">{{'codes.viewpage.codeelements.saving' | i18n}}</span>
            <button class="btn btn-warning" ng-click="viewCodesUploadModal.cancelupload()" ng-disabled="$isUploading">{{'codes.cancel' | i18n}}</button>
            <button class="btn btn-primary" ng-click="viewCodesUploadModal.loadStartFunction()" ng-disabled="!viewCodesUploadModal.fileSelected || $isUploading" upload-submit>{{'codes.select' | i18n}}</button>
        </div>
    </form>
</script>

<script type="text/ng-template" id="confirmDeleteCodesModalContent.html">
    <div class="modal-header">
        <h3>{{'codeelement.editpage.modal.header' | i18n}}</h3>
    </div>
    <div class="modal-body">
        Olet poistamassa koodistoa {{ viewCodesConfirmDeleteModal.model.name }}, haluatko jatkaa?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="viewCodesConfirmDeleteModal.okconfirmdeletecodes()">OK</button>
        <button class="btn btn-warning" ng-click="viewCodesConfirmDeleteModal.cancelconfirmdeletecodes()">Cancel</button>
    </div>
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{'codes.viewpage.header' | i18n}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <h3>{{ viewCodes.model.name }}</h3>
        </div>
        <div class="col-md-6">
            <button type="button" auth="update" auth-service="APP_KOODISTO"
                    auth-org="{{viewCodes.model.codes.organisaatioOid}}" class="btn pull-left"
                    ng-click="viewCodes.model.upload()">{{'codes.viewpage.uploadbutton' |
                i18n}}</button>
            <button type="button" class="btn pull-left"
                    ng-click="viewCodes.model.download()">{{'codes.viewpage.downloadbutton'
                | i18n}}</button>
            <button type="button" class="btn pull-left"
                    ng-click="viewCodes.downloadBlank()">{{'codes.viewpage.downloadblankbutton'
                | i18n}}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">{{'codes.viewpage.state' | i18n}}</div>
        <div class="col-md-10 pull-left bold">{{ viewCodes.model.codes.tila }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">{{'codes.viewpage.name' | i18n}}</div>
        <div class="col-md-10 pull-left bold">{{ viewCodes.model.name }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">{{'codes.viewpage.uri' | i18n}}</div>
        <div class="col-md-10 pull-left bold"><a href="{{ viewCodes.model.codes.resourceUri }}">{{ viewCodes.model.codes.resourceUri }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">{{'codes.viewpage.codesgroup' | i18n}}</div>
        <div class="col-md-10 pull-left bold">{{ viewCodes.model.codes.codesGroupUri
            }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">{{'codes.viewpage.version' | i18n}}</div>
        <div class="col-md-10 pull-left bold">
            {{ viewCodes.model.codes.versio }} <span
                ng-show="viewCodes.model.codes.codesVersions.length > 0">
            &nbsp;(&nbsp;<a href="koodisto/{{viewCodes.codesUri}}/{{codesVersion}}"
                            ng-repeat="codesVersion in viewCodes.model.codes.codesVersions | orderBy:viewCodes.identity:true">
            {{codesVersion }}&nbsp;</a>)
        </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">{{'codes.viewpage.dateactive' | i18n}}</div>
        <div class="col-md-10 pull-left bold">{{
            viewCodes.model.codes.voimassaAlkuPvm | date:'dd.MM.yyyy' }} - {{
            viewCodes.model.codes.voimassaLoppuPvm | date:'dd.MM.yyyy' }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">{{'codes.viewpage.description' | i18n}}</div>
        <div class="col-md-10 pull-left bold">{{ viewCodes.model.description }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">{{'codes.viewpage.organization' | i18n}}</div>
        <div class="col-md-10 pull-left bold">{{
            viewCodes.model.codes.organizationName }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">{{'codes.viewpage.updated' | i18n}}</div>
        <div class="col-md-10 pull-left bold">{{ viewCodes.model.codes.paivitysPvm |
            date:'dd.MM.yyyy HH:mm' }}</div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <accordion close-others="false"> <accordion-group
                    is-open="isopen" class=""> <accordion-heading>
                <i class="pull-left"
                   ng-class="{'glyphicon glyphicon-chevron-down': isopen, 'glyphicon glyphicon-chevron-right': !isopen}"></i>
                {{'codes.createpage.showextra' | i18n}} </accordion-heading>
                <div class="row">
                    <div class="col-md-2">{{'codes.createpage.instructions' | i18n}}
                    </div>
                    <div class="col-md-10 pull-left bold">{{ viewCodes.model.instructionsfi }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{'codes.createpage.targetarea' | i18n}}</div>
                    <div class="col-md-10 pull-left bold">{{ viewCodes.model.targetareafi }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{'codes.createpage.targetareapart' |
                        i18n}}</div>
                    <div class="col-md-10 pull-left bold">{{ viewCodes.model.targetareapartfi
                        }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{'codes.createpage.concept' | i18n}}</div>
                    <div class="col-md-10 pull-left bold">{{ viewCodes.model.conceptfi }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        {{'codes.createpage.operationalenvironment' | i18n}}</div>
                    <div class="col-md-10 pull-left bold">{{
                        viewCodes.model.operationalenvironmentfi }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{'codes.createpage.codessource' | i18n}}</div>
                    <div class="col-md-10 pull-left bold">{{ viewCodes.model.codessourcefi }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{'codes.createpage.specifiescodes' |
                        i18n}}</div>
                    <div class="col-md-10 pull-left bold">{{ viewCodes.model.specifiescodesfi
                        }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{'codes.createpage.totakenoticeof' |
                        i18n}}</div>
                    <div class="col-md-10 pull-left bold">{{ viewCodes.model.totakenoticeoffi
                        }}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{'codes.createpage.validitylevel' | i18n}}
                    </div>
                    <div class="col-md-10 pull-left bold">{{ viewCodes.model.validitylevelfi }}
                    </div>
                </div>
            </accordion-group> </accordion>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span class="header">{{'codes.viewpage.relations.header' | i18n}}</span>
            <input id="show_passive_relations" type="checkbox" ng-change="showPassive = !viewCodes.model.showPassive" ng-model="viewCodes.model.showPassive" />
            <label for="show_passive_relations">{{'codeelement.viewpage.relations.show.passive'| i18n}}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <accordion close-others="oneAtATime"> <accordion-group
                    is-open="isopen" class=""> <accordion-heading>
                <i class="pull-left"
                   ng-class="{'glyphicon glyphicon-chevron-down': isopen, 'glyphicon glyphicon-chevron-right': !isopen}"></i>
                {{'codes.editpage.withincodes' | i18n}} </accordion-heading>

                <div class="row">
                    <div id="withincodes" class="col-md-12"
                         ng-show="viewCodes.model.withinCodes.length">
                        <table class="table">
                            <thead>
                            <tr>
                                <th ng:click="sortBy1='name'" ng-class="{'sort-true': sortBy1=='name'}">{{'codes.editpage.codes' | i18n}}</th>
                                <th ng:click="sortBy1='versio'" ng-class="{'sort-true': sortBy1=='versio'}">{{'codes.editpage.codes.version' | i18n}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="codes in viewCodes.model.withinCodes | orderBy:sortBy1 | filter:viewCodes.showRelation">
                                <td class="align-center" ng-class="codes.active ? '': 'passiveRelation'">{{codes.name}}</td>
                                <td class="align-center" ng-class="codes.active ? '': 'passiveRelation'">{{codes.versio}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </accordion-group> </accordion>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <accordion close-others="oneAtATime"> <accordion-group
                    is-open="isopen2" class=""> <accordion-heading>
                <i class="pull-left"
                   ng-class="{'glyphicon glyphicon-chevron-down': isopen2, 'glyphicon glyphicon-chevron-right': !isopen2}"></i>
                {{'codes.editpage.includescodes' | i18n}} </accordion-heading>

                <div class="row">
                    <div id="includescodes" class="col-md-12"
                         ng-show="viewCodes.model.includesCodes.length">
                        <table class="table">
                            <thead>
                            <tr>
                                <th ng:click="sortBy2='name'" ng-class="{'sort-true': sortBy2=='name'}">{{'codes.editpage.codes' | i18n}}</th>
                                <th ng:click="sortBy2='versio'" ng-class="{'sort-true': sortBy2=='versio'}">{{'codes.editpage.codes.version' | i18n}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="codes in viewCodes.model.includesCodes | orderBy:sortBy2 | filter:viewCodes.showRelation">
                                <td class="align-center" ng-class="codes.active ? '': 'passiveRelation'">{{codes.name}}</td>
                                <td class="align-center" ng-class="codes.active ? '': 'passiveRelation'">{{codes.versio}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </accordion-group> </accordion>
        </div>
    </div>


    <div class="row">
        <div class="col-md-9">
            <accordion close-others="oneAtATime"> <accordion-group
                    is-open="isopen3" class=""> <accordion-heading>
                <i class="pull-left"
                   ng-class="{'glyphicon glyphicon-chevron-down': isopen3, 'glyphicon glyphicon-chevron-right': !isopen3}"></i>
                {{'codes.editpage.levelswithcodes' | i18n}} </accordion-heading>

                <div class="row">
                    <div id="levelswithcodes" class="col-md-12"
                         ng-show="viewCodes.model.levelsWithCodes.length">
                        <table class="table">
                            <thead>
                            <tr>
                                <th ng:click="sortBy3='name'" ng-class="{'sort-true': sortBy3=='name'}">{{'codes.editpage.codes' | i18n}}</th>
                                <th ng:click="sortBy3='versio'" ng-class="{'sort-true': sortBy3=='versio'}">{{'codes.editpage.codes.version' | i18n}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="codes in viewCodes.model.levelsWithCodes | orderBy:sortBy3 | filter:viewCodes.showRelation">
                                <td class="align-center" ng-class="codes.active ? '': 'passiveRelation'">{{codes.name}}</td>
                                <td class="align-center" ng-class="codes.active ? '': 'passiveRelation'">{{codes.versio}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </accordion-group> </accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">{{'codes.viewpage.codeelements' | i18n}}</div>
        <div class="col-md-10 pull-left">
            {{'codes.viewpage.codeelements.help' | i18n}}</div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-10 form-inline">
            <input type="text"
                   class="form-control input-sm"
                   maxlength="50"
                   placeholder="{{'codes.viewpage.codeelements.search.placeholder' | i18n}}"
                   ng-model="viewCodes.query"
                   ng-change="viewCodes.filterChangedPageCount()" /> <input
                id="filter_version" type="checkbox" ng-model="viewCodes.model.showversion"
                ng-click="viewCodes.model.getCodeElementVersions()" /> <label
                for="filter_version">{{'codes.viewpage.codeelements.showversion'
            | i18n}}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            {{ viewCodes.model.searchResultsLength }} {{'codes.viewpage.codeelements.pagination.hakutulosta' | i18n}}
            <div ng-if="viewCodes.model.codeElements.length > 0" >
                <div class="row">
                    <div class="pagination">
                        <ul>
                            <li ng-click="viewCodes.incrementPage(-1)"><span>&#8592;</span></li>

                            <li ng-if="viewCodes.getNumberOfPages() == 0" class="disabled"><a>0</a>

                            <li ng-if="viewCodes.getNumberOfPages() <= 9"
                                ng-repeat="i in [] | forLoop:0:viewCodes.getNumberOfPages()"
                                ng-class="{disabled: (i==viewCodes.model.currentPage)}"><a
                                    ng-click="viewCodes.changePage(i)">{{i+1}}</a>
                            <li ng-if="viewCodes.getNumberOfPages() > 9 && viewCodes.model.currentPage < 5"
                                ng-repeat="i in [] | forLoop:0:6"
                                ng-class="{disabled: (i==viewCodes.model.currentPage)}"><a
                                    ng-click="viewCodes.changePage(i)">{{i+1}}</a>
                            <li ng-if="viewCodes.getNumberOfPages() > 9 && viewCodes.model.currentPage >= 5"
                                ng-repeat="i in [] | forLoop:0:3"
                                ng-class="{disabled: (i==viewCodes.model.currentPage)}"><a
                                    ng-click="viewCodes.changePage(i)">{{i+1}}</a>
                            <li ng-if="viewCodes.getNumberOfPages() > 9 && viewCodes.model.currentPage >= 5">
                                <span>...</span></li>
                            <li
                                    ng-if="viewCodes.getNumberOfPages() > 9 && viewCodes.model.currentPage >= 5 && viewCodes.model.currentPage < getNumberOfPages()-5"
                                    ng-repeat="i in [] | forLoop:viewCodes.model.currentPage-1:viewCodes.model.currentPage+2"
                                    ng-class="{disabled: (i==viewCodes.model.currentPage)}">
                                <a ng-click="viewCodes.changePage(i)">{{i+1}}</a>
                            </li>
                            <li
                                    ng-if="viewCodes.getNumberOfPages() > 9 && viewCodes.model.currentPage < viewCodes.getNumberOfPages()-5">
                                <span>...</span></li>
                            <li
                                    ng-if="viewCodes.getNumberOfPages() > 9 && viewCodes.model.currentPage > viewCodes.getNumberOfPages()-6"
                                    ng-repeat="i in [] | forLoop:viewCodes.getNumberOfPages()-6:viewCodes.getNumberOfPages()"
                                    ng-class="{disabled: (i==viewCodes.model.currentPage)}">
                                <a ng-click="viewCodes.changePage(i)">{{i+1}}</a>
                            </li>
                            <li
                                    ng-if="viewCodes.getNumberOfPages() > 9 && viewCodes.model.currentPage <= viewCodes.getNumberOfPages()-6"
                                    ng-repeat="i in [] | forLoop:viewCodes.getNumberOfPages()-3:viewCodes.getNumberOfPages()"
                                    ng-class="{disabled: (i==viewCodes.model.currentPage)}">
                                <a ng-click="viewCodes.changePage(i)">{{i+1}}</a>
                            </li>

                            <li ng-click="viewCodes.incrementPage(1)"><span>&#8594;</span></li>
                        </ul>
                    </div>
                </div>
                <div class="form-inline">
                    <label for="page_size_select">{{'codes.viewpage.codeelements.pagination.nayta'
                        | i18n}}</label>
                    <select class="form-control"
                            ng-model="viewCodes.model.pageSize"
                            ng-options="n for n in viewCodes.model.pageSizeOptions"
                            ng-change="viewCodes.pageSizeChanged()"
                            id="page_size_select"
                            style="width:auto;">
                    </select>
                    <select class="form-control"
                            ng-model="viewCodes.model.sortOrderSelection"
                            ng-change="viewCodes.sortOrderChanged()"
                            id="ordering_select"
                            style="width:auto;">
                        <option value="1">{{'codes.viewpage.codeelements.pagination.koodiarvo' | i18n}}</option>
                        <option value="2">{{'codes.viewpage.codeelements.pagination.koodiarvoRev' | i18n}}</option>
                        <option value="3">{{'codes.viewpage.codeelements.pagination.koodinimi' | i18n}}</option>
                        <option value="4">{{'codes.viewpage.codeelements.pagination.koodinimiRev' | i18n}}</option>
                        <option value="5">{{'codes.viewpage.codeelements.pagination.koodiversio' | i18n}}</option>
                        <option value="6">{{'codes.viewpage.codeelements.pagination.koodiversioRev' | i18n}}</option>
                    </select>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th ng:click="viewCodes.sortOrderChanged(1)" ng-class="{'sort-true': viewCodes.model.sortOrderSelection=='1'}">{{'codes.viewpage.codeelements.tableheader1' | i18n}}</th>
                        <th ng:click="viewCodes.sortOrderChanged(3)" ng-class="{'sort-true': viewCodes.model.sortOrderSelection=='3'}">{{'codes.viewpage.codeelements.tableheader2' | i18n}}</th>
                        <th ng:click="viewCodes.sortOrderChanged(5)" ng-class="{'sort-true': viewCodes.model.sortOrderSelection=='5'}">{{'codes.viewpage.codeelements.tableheader3' | i18n}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                            ng-repeat="codeElement in viewCodes.getPaginationPage()">
                        <td>{{codeElement.koodiArvo}}</td>
                        <td><a
                                href="koodi/{{codeElement.koodiUri}}/{{codeElement.versio}}{{viewCodes.model.forceRefreshCodeElements}}">{{codeElement.name}}</a>
                        </td>
                        <td>{{codeElement.versio}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <alert ng-repeat="alert in viewCodes.model.alerts" type="alert.type"
                   close="viewCodes.closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>

    <div class="row navbar-fixed-bottom">
        <div class="col-md-12">
            <button type="button"
                    class="btn btn-default pull-right"
                    ng-click="viewCodes.cancel()">
                {{'codes.back' | i18n}}
            </button>
            <button type="button"
                    class="btn btn-primary pull-right"
                    ng-click="viewCodes.model.removeCodes()"
                    auth="crud"
                    auth-service="APP_KOODISTO"
                    auth-org="{{viewCodes.model.codes.organisaatioOid}}"
                    ng-disabled="viewCodes.model.deleteState">
                {{'codes.viewpage.deletebutton' | i18n}}&nbsp;<i class="glyphicon glyphicon-minus-sign"></i>
            </button>
            <button type="button"
                    ng-click="viewCodes.addCodeElement()"
                    auth="crud"
                    auth-service="APP_KOODISTO"
                    auth-org="{{viewCodes.model.codes.organisaatioOid}}"
                    class="btn btn-primary pull-right"
                    ng-disabled="viewCodes.model.editState">
                {{'codes.viewpage.codeelements.create' | i18n}}&nbsp;<i
                    class="glyphicon glyphicon-plus-sign"></i>
            </button>
            <button type="button"
                    ng-click="viewCodes.editCodes()"
                    auth="update"
                    auth-service="APP_KOODISTO"
                    auth-org="{{viewCodes.model.codes.organisaatioOid}}"
                    class="btn btn-primary pull-right"
                    ng-disabled="viewCodes.model.editState">
                {{'codes.viewpage.editbutton' | i18n}}
            </button>
        </div>
    </div>
</div>