
<!-- Node template -->
<script type="text/ng-template" id="organisaatio.html">
    <span class="label">
        <i class="fa fa-sitemap organisaatio"
           ng-class="{ auki: (modalInstance.data.open || modalInstance.data.children.length === 0),
           kiinni: (!modalInstance.data.open && modalInstance.data.children.length > 0)}"
           ng-click="modalInstance.openChildren(data)"></i>
        <label>
            <a href="" ng-click="modalInstance.organisaatioSelector(data);ok()">{{data.nimi['fi'] || data.nimi['sv'] || data.nimi['en']}}</a>
            <span ng-repeat="type in modalInstance.data.organisaatiotyypit">({{type}}) </span>
        </label>
    </span>
    <ol ng-if="modalInstance.data.open">
        <li ng-repeat="data in modalInstance.data.children" ng-include="'organisaatio.html'">
        </li>
    </ol>

</script>



<script type="text/ng-template" id="organizationModalContent.html">
    <div class="modal-header">
        <h3>{{'codes.createpage.chooseorganization' | i18n}}</h3>
    </div>
    <div class="modal-body">
        {{'codes.createpage.organization.help' | i18n}}<br>

        <div ng-controller="organisaatioTreeController as organisaatioTree">
            <div class="orgSearch">
                <input type="text" class="search" placeholder="Hae organisaatioita" ng-model="orgTree.searchStr"/>
                <i class="fa fa-trash-o organisaatio" ng-click="organisaatioTree.clear()"></i>
                <br />
                <span>Hakutuloksia: {{organisaatioTree.orgTree.model.numHits || 0}}</span>
            </div>
            <div class="clear"></div>
            <div class="orgSelector">
                <ol class="treelist collapsible">
                    <li ng-repeat="data in organisaatioTree.orgTree.model.organisaatiot" ng-include="'organisaatio.html'">
                    </li>
                </ol>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning pull-right" ng-click="modalInstance.cancel()">{{'codes.createpage.organization.cancel' | i18n}}</button>
    </div>
</script>
