<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="log4j.logger.org.springframework" level="warn"/>
        <Logger name="log4j.logger.fi.vm" level="error"/>
        <Logger name="log4j.logger.fi.vm.sade.javautils.cas" level="off"/>
        <Logger name="log4j.logger.fi.vm.sade.generic" level="off"/>
        <Logger name="log4j.logger.org.hibernate.hql.internal.ast" level="off"/>
        <Logger name="org.hibernate.SQL" level="debug"/>
        <Logger name="org.hibernate.type" level="trace"/>
        <Logger name="log4j.logger.akka.event.slf4j" level="error"/>
        <Logger name="log4j.logger.fi.vm.sade.koodisto.audit.AuditLogger" level="info"/>
    </Loggers>
</Configuration>
