<div ng-include="'partials/organisaatioSelector.html'" />

<h1>{{'codes.editpage.header' | i18n}}</h1>


<div>
    <form name="form" ng-submit="submit()">

        <div class="form-row">

            <div class="form-row-content width-60">
                <label for="codesstate" class="form-row-label">{{'codes.editpage.state' | i18n}}</label><br>
                <select id="codesstate" ng-model="model.codes.latestKoodistoVersio.tila" class="width-30"
                        ng-options="state.key as state.value for state in model.states" ng-required="true">
                </select>
            </div>

            <div class="form-row-content width-60 align-center">
                <label for="name_fi" class="form-row-label">{{'codes.createpage.name' | i18n}}</label>
                <input id="same_name" type="checkbox" ng-model="samename" ng-click="setSameValue('name')"
                       codes-combined-field/>
                <label for="same_name">{{'codes.sameinalllanguages' | i18n}}</label>
            </div>

            <div class="form-row-content width-60">
                <label for="name_fi" class="form-row-label">&nbsp;</label>
                <input id="name_fi" type="text" maxlength="50" class="width-30" name="namefi" ng-model="namefi"
                       placeholder="{{'codes.finnish' | i18n}}" ng-required="true" codes-combined-field/>
                <span class="text-error" ng-show="form.namefi.$error.codescombinedrequired">
                    {{'codes.validation.codescombinedrequired' | i18n}}</span>
            </div>
            <div class="form-row-content width-60">
                <label for="name_sv" class="form-row-label">&nbsp;</label>
                <input id="name_sv" type="text" maxlength="50" class="width-30" name="namesv" ng-model="namesv"
                       placeholder="{{'codes.swedish' | i18n}}" codes-combined-field/>
                <span class="text-error" ng-show="form.namesv.$error.codescombinedrequired">
                    {{'codes.validation.codescombinedrequired' | i18n}}</span>
            </div>
            <div class="form-row-content width-60">
                <label for="name_en" class="form-row-label">&nbsp;</label>
                <input id="name_en" type="text" maxlength="50" class="width-30" name="nameen" ng-model="nameen"
                       placeholder="{{'codes.english' | i18n}}" codes-combined-field/>
                <span class="text-error" ng-show="form.nameen.$error.codescombinedrequired">
                    {{'codes.validation.codescombinedrequired' | i18n}}</span>
            </div>


            <div class="form-row-content width-60">

                <label for="datesactivestart" class="form-row-label">{{'codes.createpage.datesactive' | i18n}}</label>

                <input id="datesactivestart" type="text" class="input-small" datepicker-popup="dd.MM.yyyy" ng-model="model.codes.latestKoodistoVersio.voimassaAlkuPvm" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
                -
                <input id="datesactiveend" type="text" class="input-small" datepicker-popup="dd.MM.yyyy" ng-model="model.codes.latestKoodistoVersio.voimassaLoppuPvm" min="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" />
                <i class="icon-calendar"></i>

            </div>


            <div class="form-row-content width-60 align-center">
                <label for="description_fi" class="form-row-label">{{'codes.createpage.description' | i18n}}</label>
                <input id="same_description" type="checkbox" ng-model="samedescription"
                       ng-click="setSameValue('description')" codes-combined-field/>
                <label for="same_description">{{'codes.sameinalllanguages' | i18n}}</label>
            </div>
            <div class="form-row-content width-60">
                <label for="description_fi" class="form-row-label">&nbsp;</label>
                <textarea id="description_fi" maxlength="350" class="width-30" name="descriptionfi" ng-model="descriptionfi"
                          placeholder="{{'codes.finnish' | i18n}}" ng-required="true" codes-combined-field/>
                <span class="text-error" ng-show="form.descriptionfi.$error.codescombinedrequired">
                                    {{'codes.validation.codescombinedrequired' | i18n}}</span>
            </div>
            <div class="form-row-content width-60">
                <label for="description_sv" class="form-row-label">&nbsp;</label>
                <textarea id="description_sv" maxlength="350" class="width-30" name="descriptionsv" ng-model="descriptionsv"
                          placeholder="{{'codes.swedish' | i18n}}" codes-combined-field/>
                <span class="text-error" ng-show="form.descriptionsv.$error.codescombinedrequired">
                                    {{'codes.validation.codescombinedrequired' | i18n}}</span>
            </div>
            <div class="form-row-content width-60">
                <label for="description_en" class="form-row-label">&nbsp;</label>
                <textarea id="description_en" maxlength="350" class="width-30" name="descriptionen" ng-model="descriptionen"
                          placeholder="{{'codes.english' | i18n}}" codes-combined-field/>
                <span class="text-error" ng-show="form.descriptionen.$error.codescombinedrequired">
                                    {{'codes.validation.codescombinedrequired' | i18n}}</span>
            </div>

            <div class="form-row-content width-60">
                <label for="owner" class="form-row-label">{{'codes.createpage.owner' | i18n}}</label>
                <input id="owner" type="text" maxlength="50" class="width-30" ng-model="model.codes.omistaja"/>
            </div>

            <div class="form-row-content width-60">
                <label for="organizationbutton" class="form-row-label">{{'codes.createpage.organization' | i18n}}</label>
                <input id="organizationbutton" type="button" value="{{'codes.select' | i18n}}" class="button small primary"
                       ng-click="open()" ng-model="selected"/>
                <input id="organizationinput" type="text"  class="width-30"
                       name="organizationName" ng-model="model.codes.organizationName" ng-required="true" disabled/>
            </div>




            <div class="form-row-content width-100">
            <accordion close-others="false">
            <accordion-group is-open="isopen" class="">
            <accordion-heading>
                <i class="pull-left" ng-class="{'icon-chevron-down': isopen, 'icon-chevron-right': !isopen}"></i> {{'codes.createpage.showextra' | i18n}}
            </accordion-heading>
                <div class="form-row-content width-60 align-center">
                    <label for="instructions_fi" class="form-row-label">{{'codes.createpage.instructions' | i18n}}</label>
                    <input id="same_instructions" type="checkbox" ng-model="sameinstructions" ng-click="setSameValue('instructions')"
                            />
                    <label for="same_instructions">{{'codes.sameinalllanguages' | i18n}}</label>
                </div>
                <div class="form-row-content width-60">
                    <label for="instructions_fi" class="form-row-label">&nbsp;</label>
                    <textarea id="instructions_fi" maxlength="350" class="width-30" name="instructionsfi" ng-model="instructionsfi"
                              placeholder="{{'codes.finnish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="instructions_sv" class="form-row-label">&nbsp;</label>
                    <textarea id="instructions_sv" maxlength="350" class="width-30" name="instructionssv" ng-model="instructionssv"
                              placeholder="{{'codes.swedish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="instructions_en" class="form-row-label">&nbsp;</label>
                    <textarea id="instructions_en" maxlength="350" class="width-30" name="instructionsen" ng-model="instructionsen"
                              placeholder="{{'codes.english' | i18n}}"/>
                </div>


                <div class="form-row-content width-60 align-center">
                    <label for="targetarea_fi" class="form-row-label">{{'codes.createpage.targetarea' | i18n}}</label>
                    <input id="same_targetarea" type="checkbox" ng-model="sametargetarea"
                           ng-click="setSameValue('targetarea')" />
                    <label for="same_targetarea">{{'codes.sameinalllanguages' | i18n}}</label>
                </div>
                <div class="form-row-content width-60">
                    <label for="targetarea_fi" class="form-row-label">&nbsp;</label>
                    <input id="targetarea_fi" type="text" maxlength="50" class="width-30" name="targetareafi" ng-model="targetareafi"
                           placeholder="{{'codes.finnish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="targetarea_sv" class="form-row-label">&nbsp;</label>
                    <input id="targetarea_sv" type="text" maxlength="50" class="width-30" name="targetareasv" ng-model="targetareasv"
                           placeholder="{{'codes.swedish' | i18n}}" />
                </div>
                <div class="form-row-content width-60">
                    <label for="targetarea_en" class="form-row-label">&nbsp;</label>
                    <input id="targetarea_en" type="text" maxlength="50" class="width-30" name="targetareaen" ng-model="targetareaen"
                           placeholder="{{'codes.english' | i18n}}"/>
                </div>


                <div class="form-row-content width-60 align-center">
                    <label for="targetareapart_fi" class="form-row-label">{{'codes.createpage.targetareapart' | i18n}}</label>
                    <input id="same_targetareapart" type="checkbox" ng-model="sametargetareapart"
                           ng-click="setSameValue('targetareapart')"/>
                    <label for="same_targetareapart">{{'codes.sameinalllanguages' | i18n}}</label>
                </div>
                <div class="form-row-content width-60">
                    <label for="targetareapart_fi" class="form-row-label">&nbsp;</label>
                    <input id="targetareapart_fi" type="text" maxlength="50" class="width-30" name="targetareapartfi" ng-model="targetareapartfi"
                           placeholder="{{'codes.finnish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="targetareapart_sv" class="form-row-label">&nbsp;</label>
                    <input id="targetareapart_sv" type="text" maxlength="50" class="width-30" name="targetareapartsv" ng-model="targetareapartsv"
                           placeholder="{{'codes.swedish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="targetareapart_en" class="form-row-label">&nbsp;</label>
                    <input id="targetareapart_en" type="text" maxlength="50" class="width-30" name="targetareaparten" ng-model="targetareaparten"
                           placeholder="{{'codes.english' | i18n}}"/>
                </div>


                <div class="form-row-content width-60 align-center">
                    <label for="concept_fi" class="form-row-label">{{'codes.createpage.concept' | i18n}}</label>
                    <input id="same_concept" type="checkbox" ng-model="sameconcept"
                           ng-click="setSameValue('concept')"/>
                    <label for="same_concept">{{'codes.sameinalllanguages' | i18n}}</label>
                </div>
                <div class="form-row-content width-60">
                    <label for="concept_fi" class="form-row-label">&nbsp;</label>
                    <input id="concept_fi" type="text" maxlength="50" class="width-30" name="conceptfi" ng-model="conceptfi"
                           placeholder="{{'codes.finnish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="concept_sv" class="form-row-label">&nbsp;</label>
                    <input id="concept_sv" type="text" maxlength="50" class="width-30" name="conceptsv" ng-model="conceptsv"
                           placeholder="{{'codes.swedish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="concept_en" class="form-row-label">&nbsp;</label>
                    <input id="concept_en" type="text" maxlength="50" class="width-30" name="concepten" ng-model="concepten"
                           placeholder="{{'codes.english' | i18n}}"/>
                </div>

                <div class="form-row-content width-60 align-center">
                    <label for="operationalenvironment_fi" class="form-row-label">{{'codes.createpage.operationalenvironment' | i18n}}</label>
                    <input id="same_operationalenvironment" type="checkbox" ng-model="sameoperationalenvironment"
                           ng-click="setSameValue('operationalenvironment')"/>
                    <label for="same_operationalenvironment">{{'codes.sameinalllanguages' | i18n}}</label>
                </div>
                <div class="form-row-content width-60">
                    <label for="operationalenvironment_fi" class="form-row-label">&nbsp;</label>
                    <input id="operationalenvironment_fi" type="text" maxlength="50" class="width-30" name="operationalenvironmentfi" ng-model="operationalenvironmentfi"
                           placeholder="{{'codes.finnish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="operationalenvironment_sv" class="form-row-label">&nbsp;</label>
                    <input id="operationalenvironment_sv" type="text" maxlength="50" class="width-30" name="operationalenvironmentsv" ng-model="operationalenvironmentsv"
                           placeholder="{{'codes.swedish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="operationalenvironment_en" class="form-row-label">&nbsp;</label>
                    <input id="operationalenvironment_en" type="text" maxlength="50" class="width-30" name="operationalenvironmenten" ng-model="operationalenvironmenten"
                           placeholder="{{'codes.english' | i18n}}"/>
                </div>

                <div class="form-row-content width-60 align-center">
                    <label for="codessource_fi" class="form-row-label">{{'codes.createpage.codessource' | i18n}}</label>
                    <input id="same_codessource" type="checkbox" ng-model="samecodessource"
                           ng-click="setSameValue('codessource')"/>
                    <label for="same_codessource">{{'codes.sameinalllanguages' | i18n}}</label>
                </div>
                <div class="form-row-content width-60">
                    <label for="codessource_fi" class="form-row-label">&nbsp;</label>
                    <input id="codessource_fi" type="text" maxlength="50" class="width-30" name="codessourcefi" ng-model="codessourcefi"
                           placeholder="{{'codes.finnish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="codessource_sv" class="form-row-label">&nbsp;</label>
                    <input id="codessource_sv" type="text" maxlength="50" class="width-30" name="codessourcesv" ng-model="codessourcesv"
                           placeholder="{{'codes.swedish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="codessource_en" class="form-row-label">&nbsp;</label>
                    <input id="codessource_en" type="text" maxlength="50" class="width-30" name="codessourceen" ng-model="codessourceen"
                           placeholder="{{'codes.english' | i18n}}"/>
                </div>

                <div class="form-row-content width-60 align-center">
                    <label for="specifiescodes_fi" class="form-row-label">{{'codes.createpage.specifiescodes' | i18n}}</label>
                    <input id="same_specifiescodes" type="checkbox" ng-model="samespecifiescodes"
                           ng-click="setSameValue('specifiescodes')"/>
                    <label for="same_specifiescodes">{{'codes.sameinalllanguages' | i18n}}</label>
                </div>
                <div class="form-row-content width-60">
                    <label for="specifiescodes_fi" class="form-row-label">&nbsp;</label>
                    <input id="specifiescodes_fi" type="text" maxlength="50" class="width-30" name="specifiescodesfi" ng-model="specifiescodesfi"
                           placeholder="{{'codes.finnish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="specifiescodes_sv" class="form-row-label">&nbsp;</label>
                    <input id="specifiescodes_sv" type="text" maxlength="50" class="width-30" name="specifiescodessv" ng-model="specifiescodessv"
                           placeholder="{{'codes.swedish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="specifiescodes_en" class="form-row-label">&nbsp;</label>
                    <input id="specifiescodes_en" type="text" maxlength="50" class="width-30" name="specifiescodesen" ng-model="specifiescodesen"
                           placeholder="{{'codes.english' | i18n}}"/>
                </div>

                <div class="form-row-content width-60 align-center">
                    <label for="totakenoticeof_fi" class="form-row-label">{{'codes.createpage.totakenoticeof' | i18n}}</label>
                    <input id="same_totakenoticeof" type="checkbox" ng-model="sametotakenoticeof"
                           ng-click="setSameValue('totakenoticeof')"/>
                    <label for="same_totakenoticeof">{{'codes.sameinalllanguages' | i18n}}</label>
                </div>
                <div class="form-row-content width-60">
                    <label for="totakenoticeof_fi" class="form-row-label">&nbsp;</label>
                    <input id="totakenoticeof_fi" type="text" maxlength="50" class="width-30" name="totakenoticeoffi" ng-model="totakenoticeoffi"
                           placeholder="{{'codes.finnish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="totakenoticeof_sv" class="form-row-label">&nbsp;</label>
                    <input id="totakenoticeof_sv" type="text" maxlength="50" class="width-30" name="totakenoticeofsv" ng-model="totakenoticeofsv"
                           placeholder="{{'codes.swedish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="totakenoticeof_en" class="form-row-label">&nbsp;</label>
                    <input id="totakenoticeof_en" type="text" maxlength="50" class="width-30" name="totakenoticeofen" ng-model="totakenoticeofen"
                           placeholder="{{'codes.english' | i18n}}"/>
                </div>

                <div class="form-row-content width-60 align-center">
                    <label for="validitylevel_fi" class="form-row-label">{{'codes.createpage.validitylevel' | i18n}}</label>
                    <input id="same_validitylevel" type="checkbox" ng-model="samevaliditylevel"
                           ng-click="setSameValue('validitylevel')"/>
                    <label for="same_validitylevel">{{'codes.sameinalllanguages' | i18n}}</label>
                </div>
                <div class="form-row-content width-60">
                    <label for="validitylevel_fi" class="form-row-label">&nbsp;</label>
                    <input id="validitylevel_fi" type="text" maxlength="50" class="width-30" name="validitylevelfi" ng-model="validitylevelfi"
                           placeholder="{{'codes.finnish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="validitylevel_sv" class="form-row-label">&nbsp;</label>
                    <input id="validitylevel_sv" type="text" maxlength="50" class="width-30" name="validitylevelsv" ng-model="validitylevelsv"
                           placeholder="{{'codes.swedish' | i18n}}"/>
                </div>
                <div class="form-row-content width-60">
                    <label for="validitylevel_en" class="form-row-label">&nbsp;</label>
                    <input id="validitylevel_en" type="text" maxlength="50" class="width-30" name="validitylevelen" ng-model="validitylevelen"
                           placeholder="{{'codes.english' | i18n}}"/>
                </div>

            </accordion-group>
            </accordion>
            </div>
        </div>

        <div class="clear"></div>

        <div class="form-row navbar-fixed-bottom width-90 padding-bottom-3">
            <button ng-disabled="!form.$valid" auth="update" auth-service="APP_KOODISTO" auth-org="{{model.codes.organisaatioOid}}" class="button small primary float-right" type="submit">{{'codes.save' | i18n}}</button>
            <button type="button" class="float-right margin-right-1 button small" ng-click="cancel()">{{'codes.cancel' | i18n}}
            </button>
        </div>

        <div class="form-row width-40">
            <alert ng-repeat="alert in model.alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </form>
</div>
