
<script type="text/ng-template" id="codeelement.html">
    <div class="row">

        <div ng-if="!$parent.codeElementEditorModal.model.loadingCodeElements">{{($parent.codeElementEditorModal.model.shownCodeElements  |  filter:search ).length }} {{'codes.viewpage.codeelements.pagination.hakutulosta' | i18n}}</div>
        <div class="pagination">
            <ul>
                <li ng-click="$parent.codeElementEditorModal.incrementPage(-1)"><span>&#8592;</span></li>
                <li ng-if="$parent.codeElementEditorModal.getNumberOfPages() === 0" class="disabled"><a>0</a></li>
                <li ng-if="$parent.codeElementEditorModal.getNumberOfPages() <= 9"
                    ng-repeat="i in [] | forLoop:0:$parent.codeElementEditorModal.getNumberOfPages()"
                    ng-class="{disabled: (i === $parent.codeElementEditorModal.model.currentPage)}"><a
                        ng-click="$parent.codeElementEditorModal.changePage(i)">{{i+1}}</a>
                </li>
                <li ng-if="$parent.codeElementEditorModal.getNumberOfPages() > 9 && $parent.codeElementEditorModal.model.currentPage < 5"
                    ng-repeat="i in [] | forLoop:0:6"
                    ng-class="{disabled: (i === $parent.codeElementEditorModal.model.currentPage)}"><a
                        ng-click="$parent.codeElementEditorModal.changePage(i)">{{i+1}}</a>
                </li>
                <li ng-if="$parent.codeElementEditorModal.getNumberOfPages() > 9 && $parent.codeElementEditorModal.model.currentPage >= 5"
                    ng-repeat="i in [] | forLoop:0:3"
                    ng-class="{disabled: (i === $parent.codeElementEditorModal.model.currentPage)}"><a
                        ng-click="$parent.codeElementEditorModal.changePage(i)">{{i+1}}</a>
                </li>
                <li ng-if="$parent.codeElementEditorModal.getNumberOfPages() > 9 && $parent.codeElementEditorModal.model.currentPage >= 5">
                    <span>...</span>
                </li>
                <li
                        ng-if="$parent.codeElementEditorModal.getNumberOfPages() > 9 && $parent.codeElementEditorModal.model.currentPage >= 5 && $parent.codeElementEditorModal.model.currentPage < $parent.codeElementEditorModal.getNumberOfPages()-5"
                        ng-repeat="i in [] | forLoop:$parent.codeElementEditorModal.model.currentPage-1:$parent.codeElementEditorModal.model.currentPage+2"
                        ng-class="{disabled: (i === $parent.codeElementEditorModal.model.currentPage)}">
                    <a ng-click="$parent.codeElementEditorModal.changePage(i)">{{i+1}}</a>
                </li>
                <li
                        ng-if="$parent.codeElementEditorModal.getNumberOfPages() > 9 && $parent.codeElementEditorModal.model.currentPage < $parent.codeElementEditorModal.getNumberOfPages()-5">
                    <span>...</span>
                </li>
                <li
                        ng-if="$parent.codeElementEditorModal.getNumberOfPages() > 9 && $parent.codeElementEditorModal.model.currentPage > $parent.codeElementEditorModal.getNumberOfPages()-6"
                        ng-repeat="i in [] | forLoop:$parent.codeElementEditorModal.getNumberOfPages()-6:$parent.codeElementEditorModal.getNumberOfPages()"
                        ng-class="{disabled: (i === $parent.codeElementEditorModal.model.currentPage)}">
                    <a ng-click="$parent.codeElementEditorModal.changePage(i)">{{i+1}}</a>
                </li>
                <li
                        ng-if="$parent.codeElementEditorModal.getNumberOfPages() > 9 && $parent.codeElementEditorModal.model.currentPage <= $parent.codeElementEditorModal.getNumberOfPages()-6"
                        ng-repeat="i in [] | forLoop:$parent.codeElementEditorModal.getNumberOfPages()-3:$parent.codeElementEditorModal.getNumberOfPages()"
                        ng-class="{disabled: (i === $parent.codeElementEditorModal.model.currentPage)}">
                    <a ng-click="$parent.codeElementEditorModal.changePage(i)">{{i+1}}</a>
                </li>
                <li ng-click="$parent.codeElementEditorModal.incrementPage(1)"><span>&#8594;</span>
                </li>
            </ul>
        </div>
        <label for="page_size_select">{{'codes.viewpage.codeelements.pagination.nayta'
            | i18n}}</label>
        <select ng-model="$parent.codeElementEditorModal.model.pageSize"
                ng-options="n for n in $parent.codeElementEditorModal.model.pageSizeOptions"
                ng-change="$parent.codeElementEditorModal.pageSizeChanged()"
                id="page_size_select"
                style="width:auto;">
        </select>
        <select
                ng-model="$parent.codeElementEditorModal.model.sortOrderSelection"
                ng-change="$parent.codeElementEditorModal.sortOrderChanged()"
                id="ordering_select"
                style="width:auto;">
            <option value="1">{{'codeelement.viewpage.pagination.koodiarvo' | i18n}}</option>
            <option value="2">{{'codeelement.viewpage.pagination.koodiarvoRev' | i18n}}</option>
            <option value="3">{{'codeelement.viewpage.pagination.koodinimi' | i18n}}</option>
            <option value="4">{{'codeelement.viewpage.pagination.koodinimiRev' | i18n}}</option>
        </select>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th><input id="select_all_codeelements" type="checkbox" ng-model="$parent.codeElementEditorModal.selectallcodelements" ng-change="$parent.codeElementEditorModal.onMasterChange(selectallcodelements)"/></th>
            <th ng:click="$parent.codeElementEditorModal.sortOrderChanged(1)" ng-class="{'sort-true': $parent.codeElementEditorModal.model.sortOrderSelection=='1'}">{{'codeelement.editpage.tableheader1' | i18n}}</th>
            <th ng:click="$parent.codeElementEditorModal.sortOrderChanged(3)" ng-class="{'sort-true': $parent.codeElementEditorModal.model.sortOrderSelection=='3'}">{{'codeelement.editpage.tableheader2' | i18n}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="codeElement in $parent.codeElementEditorModal.paginationPage">
            <td class="align-center"><input id="{{codeElement.name}}" name="{{codeElement.uri}}" type="checkbox" value="{{codeElement.checked}}" ng-model="codeElement.checked"/></td>
            <td class="align-center">{{:: codeElement.value}}</td>
            <td class="align-center">{{:: codeElement.name}}</td>
        </tr>
        </tbody>
    </table>

</script>

<script type="text/ng-template" id="codeElementModalContent.html">
    <div class="modal-header">
        <h3>{{'codeelement.editpage.choosecodeelements' | i18n}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <table><tbody><tr><td>
                    <label for="codeSelection">{{'codes.viewpage.codeelements.codesSelection.label' | i18n}}</label>&nbsp;</td>
                    <td><ui-select id="codeSelection" ng-model="codeElementEditorModal.model.showCode" theme="selectize" style="width: 350px;" ng-change="codeElementEditorModal.getCodeElements()">
                        <ui-select-match placeholder="{{'codeelement.editpage.choosecodes' | i18n}}">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="item in codeElementEditorModal.model.shownCodes | unique | filter: $select.search">
                            <div ng-bind-html-unsafe="item | highlight: $select.search">{{item}}</div>
                        </ui-select-choices>
                    </ui-select></tr>
                <tr><td><label for="CodeElementSearchBox">{{'codes.viewpage.codeelements.search.label' | i18n}}</label></td>
                    <td><input id="CodeElementSearchBox" type="text" maxlength="50"
                               placeholder="{{'codes.viewpage.codeelements.search.placeholder' | i18n}}" ng-model="codeElementEditorModal.model.query" ng-change="codeElementEditorModal.filterChangedPageCount()"/></td></tbody></table>
                <div ng-if="codeElementEditorModal.model.loadingCodeElements">{{'codes.viewpage.codeelements.search.loading' | i18n}}</div>
                <div ng-include="'codeelement.html'" ></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span ng-if="codeElementEditorModal.clickedSubmit">{{'codes.viewpage.codeelements.saving' | i18n}}</span>
        <button ng-disabled="codeElementEditorModal.clickedSubmit" class="btn btn-primary" ng-click="codeElementEditorModal.okcodeelement(); codeElementEditorModal.clickedSubmit=true">{{'codes.ok' | i18n}}</button>
        <button ng-disabled="codeElementEditorModal.clickedSubmit" class="btn btn-warning" ng-click="codeElementEditorModal.cancelcodeelement()">{{'codes.cancel' | i18n}}</button>
    </div>
</script>

<script type="text/ng-template" id="confirmcancel.html">
    <div class="modal-header">
        <h3>{{'codeelement.editpage.confirmcancel.header' | i18n}}</h3>
    </div>
    <div class="modal-body">{{'codeelement.editpage.confirmcancel.text' | i18n}}</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="codeElementEditorModal.cancel()">{{'codes.ok' | i18n}}</button>
        <button class="btn btn-warning" ng-click="codeElementEditorModal.closeCancelConfirmModal()">{{'codes.cancel' | i18n}}</button>
    </div>
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{'codeelement.editpage.header' | i18n}}</h1>
        </div>
    </div>
    <form name="form" class="form-horizontal" ng-submit="codeElementEditor.submit()">

        <div class="form-group">
            <label for="codesstate" class="col-md-2 control-label">{{'codes.editpage.state' | i18n}}</label>
            <div class="col-md-3">
                <select id="codesstate" ng-model="codeElementEditor.model.codeElement.tila" class="width-30 form-control" ng-options="state.key as state.value for state in codeElementEditor.model.states">
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <label for="same_name" class="checkbox"> <input id="same_name" type="checkbox" ng-model="codeElementEditor.model.samename" ng-change="codeElementEditor.setSameValue('name')" />
                    {{'codes.sameinalllanguages' | i18n}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="name_fi" class="col-md-2 control-label">{{'codeelement.editpage.name' | i18n}}</label>
            <div class="col-md-3">
                <input id="name_fi" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.namefi" name="namefi" placeholder="{{'codes.finnish' | i18n}}"
                       ng-required="!codeElementEditor.model.namesv && !codeElementEditor.model.nameen || codeElementEditor.model.shortnamefi || codeElementEditor.model.descriptionfi" ng-change="codeElementEditor.setSameValue('name')" />
                <span class="text-danger" ng-if="form.namefi.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">
                    <span ng-if="!codeElementEditor.model.namesv && !codeElementEditor.model.nameen">{{codeElementEditor.errorMessageAtLeastOneName}}</span>
                    <span ng-if="!(!codeElementEditor.model.namesv && !codeElementEditor.model.nameen)">{{codeElementEditor.errorMessageIfOtherInfoIsGiven}}</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input id="name_sv" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.namesv" name="namesv" placeholder="{{'codes.swedish' | i18n}}"
                       ng-required="!codeElementEditor.model.namefi && !codeElementEditor.model.nameen || codeElementEditor.model.shortnamesv || codeElementEditor.model.descriptionsv" ng-disabled="codeElementEditor.model.samename"/>
                <span class="text-danger" ng-if="form.namesv.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">
                    <span ng-if="!codeElementEditor.model.namefi && !codeElementEditor.model.nameen">{{codeElementEditor.errorMessageAtLeastOneName}}</span>
                    <span ng-if="!(!codeElementEditor.model.namefi && !codeElementEditor.model.nameen)">{{codeElementEditor.errorMessageIfOtherInfoIsGiven}}</span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input id="name_en" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.nameen" name="nameen" placeholder="{{'codes.english' | i18n}}"
                       ng-required="!codeElementEditor.model.namefi && !codeElementEditor.model.namesv || codeElementEditor.model.shortnameen || codeElementEditor.model.descriptionen" ng-disabled="codeElementEditor.model.samename" />
                <span class="text-danger" ng-if="form.nameen.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">
                    <span ng-if="!codeElementEditor.model.namefi && !codeElementEditor.model.namesv">{{codeElementEditor.errorMessageAtLeastOneName}}</span>
                    <span ng-if="!(!codeElementEditor.model.namefi && !codeElementEditor.model.namesv)">{{codeElementEditor.errorMessageIfOtherInfoIsGiven}}</span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="code" class="col-md-2 control-label">{{'codeelement.editpage.codevalue' | i18n}}</label>
            <div class="col-md-3">
                <input id="code"  type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.codeValue" name="codeValue" required />
                <span class="text-danger" ng-if="form.codeValue.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">{{codeElementEditor.errorMessage}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-inline col-md-12">
                <label for="datesactivestart" class="col-md-2 control-label">{{'codeelement.editpage.datesactive' | i18n}}</label>
                <div class="input-group col-md-2">
                    <input id="datesactivestart" class="form-control" type="text" datepicker-popup="dd.MM.yyyy" name="voimassaAlkuPvm"
                           ng-model="codeElementEditor.model.codeElement.voimassaAlkuPvm" min="minDate" datepicker-options="dateOptions" date-disabled="codeElementEditor.disabled(date, mode)" required />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <span>-</span>
                <div class="input-group col-md-2">
                    <input id="datesactiveend" class="form-control" type="text" datepicker-popup="dd.MM.yyyy" ng-model="codeElementEditor.model.codeElement.voimassaLoppuPvm"
                           min="minDate" datepicker-options="dateOptions" date-disabled="codeElementEditor.disabled(date, mode)" ng-required="false" />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <span class="text-danger" ng-if="form.voimassaAlkuPvm.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">{{codeElementEditor.errorMessage}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <label for="same_shortname" class="checkbox"> <input id="same_shortname" type="checkbox" ng-model="codeElementEditor.model.sameshortname"
                                                                     ng-change="codeElementEditor.setSameValue('shortname')" /> {{'codes.sameinalllanguages' | i18n}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="shortname_fi" class="col-md-2 control-label">{{'codeelement.editpage.shortname' | i18n}}</label>
            <div class="col-md-3">
                <input id="shortname_fi" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.shortnamefi" name="shortnamefi"
                       placeholder="{{'codes.finnish' | i18n}}" ng-change="codeElementEditor.setSameValue('shortname')"/>
                <span class="text-danger" ng-if="form.shortnamefi.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">{{codeElementEditor.errorMessage}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input id="shortname_sv" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.shortnamesv" name="shortnamesv"
                       placeholder="{{'codes.swedish' | i18n}}" ng-disabled="codeElementEditor.model.sameshortname"/>
                <span class="text-danger" ng-if="form.shortnamesv.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">{{codeElementEditor.errorMessage}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input id="shortname_en" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.shortnameen" name="shortnameen"
                       placeholder="{{'codes.english' | i18n}}" ng-disabled="codeElementEditor.model.sameshortname"/>
                <span class="text-danger" ng-if="form.shortnameen.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">{{codeElementEditor.errorMessage}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <label for="same_description" class="checkbox"> <input id="same_description" type="checkbox" ng-model="codeElementEditor.model.samedescription"
                                                                       ng-change="codeElementEditor.setSameValue('description')" /> {{'codes.sameinalllanguages' | i18n}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="description_fi" class="col-md-2 control-label">{{'codeelement.editpage.description' | i18n}}</label>
            <div class="col-md-3">
                <textarea id="description_fi" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.descriptionfi" name="descriptionfi"
                          placeholder="{{'codes.finnish' | i18n}}" ng-change="codeElementEditor.setSameValue('description')"  ></textarea>
                <span class="text-danger" ng-if="form.descriptionfi.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">{{codeElementEditor.errorMessage}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <textarea id="description_sv" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.descriptionsv" name="descriptionsv"
                          placeholder="{{'codes.swedish' | i18n}}" ng-disabled="codeElementEditor.model.samedescription" ></textarea>
                <span class="text-danger" ng-if="form.descriptionsv.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">{{codeElementEditor.errorMessage}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <textarea id="description_en" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.descriptionen" name="descriptionen"
                          placeholder="{{'codes.english' | i18n}}" ng-disabled="codeElementEditor.model.samedescription" ></textarea>
                <span class="text-danger" ng-if="form.descriptionen.$error.required && loadingReady"><img style="margin-right: 10px;" src="{{:: codeElementEditor.alertIcon}}">{{codeElementEditor.errorMessage}}</span>
            </div>
        </div>


        <div class="form-group">
            <label for="withincodes" class="col-md-2 control-label">{{'codeelement.editpage.withincodeelements' | i18n}}</label><br>
            <div class="col-md-3">
                <button id="withincodes" type="button" auth="updateAny" auth-service="APP_KOODISTO" class="btn btn-sm" ng-model="codeElementSelector"
                        ng-click="codeElementEditor.show('withincodes'); form.$setDirty()">{{'codeelement.editpage.choosecodeelements' | i18n}}</button>
            </div>
        </div>

        <div class="row" ng-show="(codeElementEditor.model.withinCodeElements | filter:{passive:false}).length">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th ng:click="sortBy='name'" ng-class="{'sort-true': sortBy=='name'}">{{'codeelement.editpage.codeelement' | i18n}}</th>
                        <th ng:click="sortBy='versio'" ng-class="{'sort-true': sortBy=='versio'}">{{'codeelement.viewpage.version' | i18n}}</th>
                        <th>{{'codes.delete' | i18n}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="codeElement in codeElementEditor.model.withinCodeElements | filter:{passive:false} | orderBy:sortBy | limitTo:codeElementEditor.model.withinListLengthLimit">
                        <td class="align-center">{{:: codeElement.name}}</td>
                        <td class="align-center" >{{:: codeElement.versio}}</td>
                        <td class="align-center"><i class="glyphicon glyphicon-trash" auth="updateAny" auth-service="APP_KOODISTO"
                                                    ng-click="codeElementEditor.removeFromWithinCodeElements(codeElement); form.$setDirty()"></i></td>
                    </tr>

                    </tbody>

                </table>
                <div ng-if="codeElementEditor.model.withinListLengthLimit < (codeElementEditor.model.withinCodeElements | filter:{passive:false}).length")>
                    <button type="button" class="btn pull-right" ng-click="codeElementEditor.model.incrementListLimit('within')">{{'codeelement.editpage.relationlist.loadmore'
                        | i18n}}</button>
                    {{'codeelement.editpage.relationlist.label.begining' | i18n}} {{codeElementEditor.model.withinListLengthLimit}} / {{(codeElementEditor.model.withinCodeElements | filter:{passive:false}).length}}
                    {{'codeelement.editpage.relationlist.label.end' | i18n}}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="includescodes" class="col-md-2 control-label">{{'codeelement.editpage.includescodeelements' | i18n}}</label><br>
            <div class="col-md-3">
                <button id="includescodes" type="button" auth="updateAny" auth-service="APP_KOODISTO" class="btn btn-sm" ng-model="codeElementSelector"
                        ng-click="codeElementEditor.show('includescodes'); form.$setDirty()">{{'codeelement.editpage.choosecodeelements' | i18n}}</button>
            </div>
        </div>

        <div class="row" ng-show="(codeElementEditor.model.includesCodeElements | filter:{passive:false}).length">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th ng:click="sortBy='name'" ng-class="{'sort-true': sortBy=='name'}">{{'codeelement.editpage.codeelement' | i18n}}</th>
                        <th ng:click="sortBy='versio'" ng-class="{'sort-true': sortBy=='versio'}">{{'codeelement.viewpage.version' | i18n}}</th>
                        <th>{{'codes.delete' | i18n}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="codeElement in codeElementEditor.model.includesCodeElements | filter:{passive:false} | orderBy:sortBy | limitTo:codeElementEditor.model.includesListLengthLimit">
                        <td class="align-center" >{{:: codeElement.name}}</td>
                        <td class="align-center">{{:: codeElement.versio}}</td>
                        <td class="align-center"><i class="glyphicon glyphicon-trash" auth="updateAny" auth-service="APP_KOODISTO"
                                                    ng-click="codeElementEditor.removeFromIncludesCodeElements(codeElement); form.$setDirty()"></i></td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="codeElementEditor.model.includesListLengthLimit < (codeElementEditor.model.includesCodeElements | filter:{passive:false}).length")>
                    <button type="button" class="btn pull-right" ng-click="codeElementEditor.model.incrementListLimit('includes')">{{'codeelement.editpage.relationlist.loadmore'
                        | i18n}}</button>
                    {{'codeelement.editpage.relationlist.label.begining' | i18n}} {{codeElementEditor.model.includesListLengthLimit}} / {{(codeElementEditor.model.includesCodeElements | filter:{passive:false}).length}}
                    {{'codeelement.editpage.relationlist.label.end' | i18n}}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="levelswithcodes" class="col-md-2 control-label">{{'codeelement.editpage.levelswithcodeelements' | i18n}}</label><br>
            <div class="col-md-3">
                <button id="levelswithcodes" type="button" auth="updateAny" auth-service="APP_KOODISTO" class="btn btn-sm" ng-model="codeElementSelector"
                        ng-click="codeElementEditor.show('levelswithcodes'); form.$setDirty()">{{'codeelement.editpage.choosecodeelements' | i18n}}</button>
            </div>
        </div>

        <div class="row" ng-show="(codeElementEditor.model.levelsWithCodeElements | filter:{passive:false}).length">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th ng:click="sortBy='name'" ng-class="{'sort-true': sortBy=='name'}">{{'codeelement.editpage.codeelement' | i18n}}</th>
                        <th ng:click="sortBy='versio'" ng-class="{'sort-true': sortBy=='versio'}">{{'codeelement.viewpage.version' | i18n}}</th>
                        <th>{{'codes.delete' | i18n}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="codeElement in codeElementEditor.model.levelsWithCodeElements | filter:{passive:false} | orderBy:sortBy | limitTo:codeElementEditor.model.levelsWithListLengthLimit">
                        <td class="align-center">{{:: codeElement.name}}</td>
                        <td class="align-center">{{:: codeElement.versio}}</td>
                        <td class="align-center"><i class="glyphicon glyphicon-trash" auth="updateAny" auth-service="APP_KOODISTO"
                                                    ng-click="codeElementEditor.removeFromLevelsWithCodeElements(codeElement); form.$setDirty()"></i></td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="codeElementEditor.model.levelsWithListLengthLimit < (codeElementEditor.model.levelsWithCodeElements | filter:{passive:false}).length")>

                    <button type="button" class="btn pull-right" ng-click="codeElementEditor.model.incrementListLimit('levelsWith')">{{'codeelement.editpage.relationlist.loadmore'
                        | i18n}}</button>
                    {{'codeelement.editpage.relationlist.label.begining' | i18n}} {{codeElementEditor.model.levelsWithListLengthLimit}} / {{(codeElementEditor.model.levelsWithCodeElements | filter:{passive:false}).length}}
                    {{'codeelement.editpage.relationlist.label.end' | i18n}}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <accordion close-others="false"> <accordion-group is-open="isopen" class=""> <accordion-heading>
                    <i class="pull-left" ng-class="{'glyphicon glyphicon-chevron-down': isopen, 'glyphicon glyphicon-chevron-right': !isopen}"></i> {{'codes.createpage.showextra' | i18n}} </accordion-heading>
                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <label for="same_instructions" class="checkbox">
                                <input id="same_instructions" type="checkbox" ng-model="codeElementEditor.model.sameinstructions" ng-change="codeElementEditor.setSameValue('instructions')" /> {{'codes.sameinalllanguages' | i18n}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="instructions_fi" class="col-md-2 control-label">{{'codeelement.createpage.instructions' | i18n}}</label>
                        <div class="col-md-3">
                            <textarea id="instructions_fi" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.instructionsfi" placeholder="{{'codes.finnish' | i18n}}" ng-change="codeElementEditor.setSameValue('instructions')"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                            <textarea id="instructions_sv" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.instructionssv" placeholder="{{'codes.swedish' | i18n}}" ng-disabled="codeElementEditor.model.sameinstructions"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                            <textarea id="instructions_en" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.instructionsen" placeholder="{{'codes.english' | i18n}}" ng-disabled="codeElementEditor.model.sameinstructions"></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <label for="same_concept" class="checkbox"> <input id="same_concept" type="checkbox" ng-model="codeElementEditor.model.sameconcept"
                                                                               ng-change="codeElementEditor.setSameValue('concept')" /> {{'codes.sameinalllanguages' | i18n}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="concept_fi" class="col-md-2 control-label">{{'codeelement.createpage.concept' | i18n}}</label>
                        <div class="col-md-3">
                            <input id="concept_fi" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.conceptfi" placeholder="{{'codes.finnish' | i18n}}" ng-change="codeElementEditor.setSameValue('concept')"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                            <input id="concept_sv" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.conceptsv" placeholder="{{'codes.swedish' | i18n}}" ng-disabled="codeElementEditor.model.sameconcept" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                            <input id="concept_en" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.concepten" placeholder="{{'codes.english' | i18n}}" ng-disabled="codeElementEditor.model.sameconcept" />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <label for="same_totakenoticeof" class="checkbox"> <input id="same_totakenoticeof" type="checkbox" ng-model="codeElementEditor.model.sametotakenoticeof"
                                                                                      ng-change="codeElementEditor.setSameValue('totakenoticeof')" /> {{'codes.sameinalllanguages' | i18n}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="totakenoticeof_fi" class="col-md-2 control-label">{{'codeelement.createpage.totakenoticeof' | i18n}}</label>
                        <div class="col-md-3">
                            <input id="totakenoticeof_fi" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.totakenoticeoffi"
                                   placeholder="{{'codes.finnish' | i18n}}" ng-change="codeElementEditor.setSameValue('totakenoticeof')" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                            <input id="totakenoticeof_sv" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.totakenoticeofsv"
                                   placeholder="{{'codes.swedish' | i18n}}" ng-disabled="codeElementEditor.model.sametotakenoticeof" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                            <input id="totakenoticeof_en" type="text" maxlength="256" class="width-30 form-control" ng-model="codeElementEditor.model.totakenoticeofen"
                                   placeholder="{{'codes.english' | i18n}}" ng-disabled="codeElementEditor.model.sametotakenoticeof" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <label for="same_containssignificance" class="checkbox"><input id="same_containssignificance" type="checkbox"
                                                                                           ng-model="codeElementEditor.model.samecontainssignificance" ng-change="codeElementEditor.setSameValue('containssignificance')" /> {{'codes.sameinalllanguages' | i18n}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="containssignificance_fi" class="col-md-2 control-label">{{'codeelement.createpage.containssignificance' | i18n}}</label>
                        <div class="col-md-3">
                        <textarea id="containssignificance_fi" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.containssignificancefi"
                                  placeholder="{{'codes.finnish' | i18n}}" ng-change="codeElementEditor.setSameValue('containssignificance')"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                        <textarea id="containssignificance_sv" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.containssignificancesv"
                                  placeholder="{{'codes.swedish' | i18n}}" ng-disabled="codeElementEditor.model.samecontainssignificance" ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                        <textarea id="containssignificance_en" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.containssignificanceen"
                                  placeholder="{{'codes.english' | i18n}}" ng-disabled="codeElementEditor.model.samecontainssignificance" ></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <label for="same_doesnotcontainsignificance" class="checkbox"> <input id="same_doesnotcontainsignificance" type="checkbox"
                                                                                                  ng-model="codeElementEditor.model.samedoesnotcontainsignificance" ng-change="codeElementEditor.setSameValue('doesnotcontainsignificance')" /> {{'codes.sameinalllanguages'
                                | i18n}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="doesnotcontainsignificance_fi" class="col-md-2 control-label">{{'codeelement.createpage.doesnotcontainsignificance' | i18n}}</label>
                        <div class="col-md-3">
                        <textarea id="doesnotcontainsignificance_fi" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.doesnotcontainsignificancefi"
                                  placeholder="{{'codes.finnish' | i18n}}" ng-change="codeElementEditor.setSameValue('doesnotcontainsignificance')"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                        <textarea id="doesnotcontainsignificance_sv" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.doesnotcontainsignificancesv"
                                  placeholder="{{'codes.swedish' | i18n}}" ng-disabled="codeElementEditor.model.samedoesnotcontainsignificance" ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                        <textarea id="doesnotcontainsignificance_en" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.doesnotcontainsignificanceen"
                                  placeholder="{{'codes.english' | i18n}}" ng-disabled="codeElementEditor.model.samedoesnotcontainsignificance" ></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2">
                            <label for="same_containscodes" class="checkbox"> <input id="same_containscodes" type="checkbox" ng-model="codeElementEditor.model.samecontainscodes"
                                                                                     ng-change="codeElementEditor.setSameValue('containscodes')" /> {{'codes.sameinalllanguages' | i18n}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="containscodes_fi" class="col-md-2 control-label">{{'codeelement.createpage.containscodes' | i18n}}</label>
                        <div class="col-md-3">
                            <textarea id="containscodes_fi" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.containscodesfi" placeholder="{{'codes.finnish' | i18n}}" ng-change="codeElementEditor.setSameValue('containscodes')"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                            <textarea id="containscodes_sv" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.containscodessv" placeholder="{{'codes.swedish' | i18n}}" ng-disabled="codeElementEditor.model.samecontainscodes"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-2">
                            <textarea id="containscodes_en" maxlength="2048" class="width-30 form-control" ng-model="codeElementEditor.model.containscodesen" placeholder="{{'codes.english' | i18n}}" ng-disabled="codeElementEditor.model.samecontainscodes"></textarea>
                        </div>
                    </div>

                </accordion-group> </accordion>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <alert ng-repeat="alert in codeElementEditor.model.alerts" type="alert.type" close="codeElementEditor.closeAlert($index)"> <img style="margin-right: 10px;"
                                                                                                                                                src="{{:: codeElementEditor.alertIcon}}">{{alert.msg}}</alert>
            </div>
        </div>

        <div class="row navbar-fixed-bottom">
            <button ng-disabled="!form.$valid || codeElementEditor.isCodeElementLoading()"
                    auth="updateAny" auth-service="APP_KOODISTO"
                    class="btn btn-primary pull-right"
                    type="submit">{{'codes.save' | i18n}}</button>
            <button type="button"
                    class="btn btn-default pull-right"
                    ng-click="codeElementEditor.showCancelConfirmModal(form.$dirty)">{{'codes.cancel' | i18n}}</button>
        </div>

    </form>
</div>
