<script type="text/ng-template" id="confirmDeleteCodeElementModalContent.html">
    <div class="modal-header">
        <h3>{{'codeelement.editpage.modal.header' | i18n}}</h3>
    </div>
    <div class="modal-body">
        Olet poistamassa koodia {{ viewCodeElementModal.model.name }}, haluatko jatkaa?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="viewCodeElementModal.okconfirmdeletecodeelement()">OK</button>
        <button class="btn btn-warning" ng-click="viewCodeElementModal.cancelconfirmdeletecodeelement()">Cancel</button>
    </div>
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{'codeelement.viewpage.header' | i18n}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-10 pull-left">
            <h3>{{ viewCodeElement.model.name }}&nbsp;({{ viewCodeElement.model.codeElement.koodiArvo }})</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            {{'codeelement.viewpage.state' | i18n}}
        </div>
        <div class="col-md-10 pull-left bold">
            {{ viewCodeElement.model.codeElement.tila }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{'codeelement.viewpage.name' | i18n}}
        </div>
        <div class="col-md-10 pull-left bold">
            <span ng-if="viewCodeElement.model.namefi != ''">{{ viewCodeElement.model.namefi }}<br></span>
            <span ng-if="viewCodeElement.model.namesv != ''">{{ viewCodeElement.model.namesv }}<br></span>
            <span ng-if="viewCodeElement.model.nameen != ''">{{ viewCodeElement.model.nameen }}<br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{'codeelement.viewpage.uri' | i18n}}
        </div>
        <div class="col-md-10 pull-left bold">
            <a href="{{ viewCodeElement.model.codeElement.resourceUri }}">{{ viewCodeElement.model.codeElement.resourceUri }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{'codeelement.viewpage.version' | i18n}}
        </div>
        <div class="col-md-10 pull-left bold">
            {{ viewCodeElement.model.codeElement.versio }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{'codeelement.viewpage.codevalue' | i18n}}
        </div>
        <div class="col-md-10 pull-left bold">
            {{ viewCodeElement.model.codeElement.koodiArvo }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{'codeelement.viewpage.dateactive' | i18n}}
        </div>
        <div class="col-md-10 pull-left bold">
            {{ viewCodeElement.model.codeElement.voimassaAlkuPvm | date:'dd.MM.yyyy' }} -
            {{ viewCodeElement.model.codeElement.voimassaLoppuPvm | date:'dd.MM.yyyy' }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{'codeelement.viewpage.shortname' | i18n}}
        </div>
        <div class="col-md-10 pull-left bold">
            <span ng-if="viewCodeElement.model.shortnamefi != ''">{{ viewCodeElement.model.shortnamefi }}<br></span>
            <span ng-if="viewCodeElement.model.shortnamesv != ''">{{ viewCodeElement.model.shortnamesv }}<br></span>
            <span ng-if="viewCodeElement.model.shortnameen != ''">{{ viewCodeElement.model.shortnameen }}<br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{'codeelement.viewpage.description' | i18n}}
        </div>
        <div class="col-md-10 pull-left bold">
            <span ng-if="viewCodeElement.model.descriptionfi != ''">{{ viewCodeElement.model.descriptionfi }}<br></span>
            <span ng-if="viewCodeElement.model.descriptionsv != ''">{{ viewCodeElement.model.descriptionsv }}<br></span>
            <span ng-if="viewCodeElement.model.descriptionen != ''">{{ viewCodeElement.model.descriptionen }}<br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {{'codeelement.viewpage.updated' | i18n}}
        </div>
        <div class="col-md-10 pull-left bold">
            {{ viewCodeElement.model.codeElement.paivitysPvm | date:'dd.MM.yyyy HH:mm' }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <accordion close-others="false">
                <accordion-group is-open="isopen" class="">
                    <accordion-heading>
                        <i class="pull-left" ng-class="{'glyphicon glyphicon-chevron-down': isopen, 'glyphicon glyphicon-chevron-right': !isopen}"></i> {{'codes.createpage.showextra' | i18n}}
                    </accordion-heading>
                    <div class="row">
                        <div class="col-md-2">
                            {{'codeelement.createpage.instructions' | i18n}}
                        </div>
                        <div class="col-md-10 pull-left bold">
                            {{ viewCodeElement.instructionsfi }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{'codeelement.createpage.concept' | i18n}}
                        </div>
                        <div class="col-md-10 pull-left bold">
                            {{ viewCodeElement.conceptfi }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{'codeelement.createpage.totakenoticeof' | i18n}}
                        </div>
                        <div class="col-md-10 pull-left bold">
                            {{ viewCodeElement.totakenoticeoffi }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{'codeelement.createpage.containssignificance' | i18n}}
                        </div>
                        <div class="col-md-10 pull-left bold">
                            {{ viewCodeElement.containssignificancefi }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{'codeelement.createpage.doesnotcontainsignificance' | i18n}}
                        </div>
                        <div class="col-md-10 pull-left bold">
                            {{ viewCodeElement.doesnotcontainsignificancefi }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            {{'codeelement.createpage.containscodes' | i18n}}
                        </div>
                        <div class="col-md-10 pull-left bold">
                            {{ viewCodeElement.containscodesfi }}
                        </div>
                    </div>

                </accordion-group>
            </accordion>
        </div>
    </div>

	<div class="row">
		<div class="col-md-12">
			<span class="header">{{'codeelement.viewpage.relations.header' | i18n}}</span>
			<input id="filter_passive_relations" type="checkbox" ng-model="viewCodeElement.model.showPassive" />
            <label for="filter_passive">{{'codeelement.viewpage.relations.show.passive'| i18n}}</label>
		</div>
	</div>
    <div class="row">
        <div class="col-md-9">
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen" class="">
                    <accordion-heading>
                        <i class="pull-left" ng-class="{'glyphicon glyphicon-chevron-down': isopen, 'glyphicon glyphicon-chevron-right': !isopen}"></i> {{'codeelement.editpage.withincodeelements' | i18n}}
                    </accordion-heading>

                    <div class="row">
                        <div id="withincodes" class="col-md-12" ng-show="viewCodeElement.model.withinCodeElements.length">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th ng:click="sortBy='codesname'" ng-class="{'sort-true': sortBy=='codesname'}">{{'codeelement.viewpage.tableheader1' | i18n}}</th>
                                    <th ng:click="sortBy='name'" ng-class="{'sort-true': sortBy=='name'}">{{'codeelement.viewpage.tableheader2' | i18n}}</th>
                                    <th ng:click="sortBy='versio'" ng-class="{'sort-true': sortBy=='versio'}">{{'codeelement.viewpage.version' | i18n}}</th>
                                    <th ng:click="sortBy='description'" ng-class="{'sort-true': sortBy=='description'}">{{'codeelement.viewpage.tableheader3' | i18n}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="codeElement in viewCodeElement.model.withinCodeElements | orderBy:sortBy | filter: viewCodeElement.showRelation">
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.codesname}}</td>
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.name}}</td>
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.versio}}</td>
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.description}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen2" class="">
                    <accordion-heading>
                        <i class="pull-left" ng-class="{'glyphicon glyphicon-chevron-down': isopen2, 'glyphicon glyphicon-chevron-right': !isopen2}"></i> {{'codeelement.editpage.includescodeelements' | i18n}}
                    </accordion-heading>

                    <div class="row">
                        <div id="includescodes" class="col-md-12" ng-show="viewCodeElement.model.includesCodeElements.length">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th ng:click="sortBy='codesname'" ng-class="{'sort-true': sortBy=='codesname'}">{{'codeelement.viewpage.tableheader1' | i18n}}</th>
                                    <th ng:click="sortBy='name'" ng-class="{'sort-true': sortBy=='name'}">{{'codeelement.viewpage.tableheader2' | i18n}}</th>
                                    <th ng:click="sortBy='versio'" ng-class="{'sort-true': sortBy=='versio'}">{{'codeelement.viewpage.version' | i18n}}</th>
                                    <th ng:click="sortBy='description'" ng-class="{'sort-true': sortBy=='description'}">{{'codeelement.viewpage.tableheader3' | i18n}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="codeElement in viewCodeElement.model.includesCodeElements | orderBy:sortBy | filter: viewCodeElement.showRelation">
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.codesname}}</td>
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.name}}</td>
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.versio}}</td>
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.description}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>


    <div class="row">
        <div class="col-md-9">
            <accordion close-others="oneAtATime">
                <accordion-group is-open="isopen3" class="">
                    <accordion-heading>
                        <i class="pull-left" ng-class="{'glyphicon glyphicon-chevron-down': isopen3, 'glyphicon glyphicon-chevron-right': !isopen3}"></i> {{'codeelement.editpage.levelswithcodeelements' | i18n}}
                    </accordion-heading>

                    <div class="row">
                    <div id="levelswithcodes" class="col-md-12" ng-show="viewCodeElement.model.levelsWithCodeElements.length">
                        <table class="table">
                            <thead>
                            <tr>
                                <th ng:click="sortBy='codesname'" ng-class="{'sort-true': sortBy=='codesname'}">{{'codeelement.viewpage.tableheader1' | i18n}}</th>
                                <th ng:click="sortBy='name'" ng-class="{'sort-true': sortBy=='name'}">{{'codeelement.viewpage.tableheader2' | i18n}}</th>
                                <th ng:click="sortBy='versio'" ng-class="{'sort-true': sortBy=='versio'}">{{'codeelement.viewpage.version' | i18n}}</th>
                                <th ng:click="sortBy='description'" ng-class="{'sort-true': sortBy=='description'}">{{'codeelement.viewpage.tableheader3' | i18n}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="codeElement in viewCodeElement.model.levelsWithCodeElements | orderBy:sortBy | filter: viewCodeElement.showRelation">
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.codesname}}</td>
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.name}}</td>
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.versio}}</td>
                                    <td ng-class="codeElement.active ? '': 'passiveRelation'">{{:: codeElement.description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </accordion-group>
            </accordion>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <alert ng-repeat="alert in viewCodeElement.model.alerts" type="alert.type" close="viewCodeElement.closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>

    <div class="row navbar-fixed-bottom">
        <div class="col-md-12">
            <button type="button" class="btn btn-default pull-right" ng-click="viewCodeElement.cancel()" ng-disabled="!viewCodeElement.model.codeElement">{{'codes.back' | i18n}}
            </button>
            <button type="button" class="btn btn-primary pull-right" ng-click="viewCodeElement.model.removeCodeElement()" auth="crud" auth-service="APP_KOODISTO" auth-org="{{viewCodeElement.model.codeElement.koodisto.organisaatioOid}}" ng-disabled="viewCodeElement.model.deleteState">
                {{'codeelement.viewpage.deletebutton' | i18n}}&nbsp;<i class="glyphicon glyphicon-minus-sign"></i>
            </button>
            <button type="button" ng-click="viewCodeElement.editCodeElement()" auth="update" auth-service="APP_KOODISTO" auth-org="{{viewCodeElement.model.codeElement.koodisto.organisaatioOid}}" class="btn btn-primary pull-right" ng-disabled="viewCodeElement.model.editState">
                {{'codeelement.viewpage.editbutton' | i18n}}</button>
        </div>
    </div>

</div>
