<div class="container" ng-if="codesGroupEditor.loadingReady">
    <div class="row">
        <div class="col-md-12">
            <h1>{{'codesgroup.editpage.header' | i18n}}</h1>
        </div>
    </div>
    <form name="form" class="form-horizontal" ng-submit="codesGroupEditor.submit()">

        <div class="form-group">
            <div class="col-md-offset-2">
                <label for="same_name" class="checkbox">
                    <input id="same_name" type="checkbox" ng-model="codesGroupEditor.model.samename" ng-change="codesGroupEditor.setSameName()"/>
                    {{'codes.sameinalllanguages' | i18n}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="name_fi" class="col-md-2 control-label">{{'codes.createpage.name' | i18n}}</label>
            <div class="col-md-3">
                <input id="name_fi" type="text" maxlength="256" class="width-30 form-control" ng-model="codesGroupEditor.model.namefi" name="model.namefi"
                       placeholder="{{'codes.finnish' | i18n}}" ng-required="!codesGroupEditor.model.namesv && !codesGroupEditor.model.nameen" ng-change="codesGroupEditor.setSameName()"/>
                <span class="text-danger" ng-if="form.model.namefi.$error.required"><img style="margin-right:10px;" src="{{:: codesGroupEditor.alertIcon}}">{{codesGroupEditor.errorMessage}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input id="name_sv" type="text" maxlength="256" class="width-30 form-control" ng-model="codesGroupEditor.model.namesv" name="model.namesv"
                       placeholder="{{'codes.swedish' | i18n}}" ng-required="!codesGroupEditor.model.namefi && !codesGroupEditor.model.nameen" ng-disabled="codesGroupEditor.model.samename"/>
                <span class="text-danger" ng-if="form.model.namesv.$error.required"><img style="margin-right:10px;" src="{{:: codesGroupEditor.alertIcon}}">{{codesGroupEditor.errorMessage}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input id="name_en" type="text" maxlength="256" class="width-30 form-control"  ng-model="codesGroupEditor.model.nameen" name="model.nameen"
                       placeholder="{{'codes.english' | i18n}}" ng-required="!codesGroupEditor.model.namefi && !codesGroupEditor.model.namesv" ng-disabled="codesGroupEditor.model.samename"/>
                <span class="text-danger" ng-if="form.model.nameen.$error.required"><img style="margin-right:10px;" src="{{:: codesGroupEditor.alertIcon}}">{{codesGroupEditor.errorMessage}}</span>
            </div>
        </div>


        <div class="form-group">
            <label for="uri" class="col-md-2 control-label">{{'codesgroup.createpage.uri' | i18n}}</label>
            <div class="col-md-3">
                <input id="uri" type="text" maxlength="256" class="width-30 form-control" name="koodistoRyhmaUri"
                       ng-model="codesGroupEditor.model.codesgroup.koodistoRyhmaUri" disabled="disabled"/>
            </div>
        </div>


        <div class="row">
            <div class="col-md-9">
                <alert ng-repeat="alert in codesGroupEditor.model.alerts" type="alert.type" close="codesGroupEditor.closeAlert($index)">
                    <img style="margin-right:10px;" src="{{:: codesGroupEditor.alertIcon}}">{{alert.msg}}</alert>
            </div>
        </div>

        <div class="row navbar-fixed-bottom">
            <button ng-disabled="!form.$valid" auth="crudAny" auth-service="APP_KOODISTO" class="btn btn-primary pull-right" type="submit">{{'codes.save' | i18n}}</button>
            <button type="button" class="btn btn-default pull-right" ng-click="codesGroupEditor.cancel()">{{'codes.cancel' | i18n}}
            </button>
        </div>

    </form>
</div>
